<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <nz-form-item>
        <nz-form-label nzFor="ma">Mã: </nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập mã">
          <input nz-input type="text" id="ma" name="ma" [(ngModel)]="asset.ma" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="ten">Tên: </nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập tên">
          <input nz-input type="text" id="ten" name="ten" [(ngModel)]="asset.ten"/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="ghiChu">Ghi Chú: </nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập ghi chú">
          <input nz-input type="text" id="ghiChu" name="ghiChu" [(ngModel)]="asset.ghiChu"/>
        </nz-form-control>
      </nz-form-item>
      <br>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary" style="width: 100%" (click)="saveAsset()">Thêm</button>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div *ngIf="submitted">
      <h1>Thêm thành công!</h1><br>
      <button nz-button nzType="primary" (click)="newAsset()">Add</button><br><br>
      <a nz-button nzType="primary" routerLink="/admin/asset">Trở về</a>
    </div>
  </div>
</div>
