<div *ngIf="hasError" class="p-3 my-4 text-md text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
     role="alert">
  {{errorMsg}}
</div>

<div class="bg-white w-96 bg-white rounded rounded-xl shadow p-5">
  <h1 class="text-3xl text-xl">Forgot password</h1>
  <p class="text-base">Reset you account</p>
  <form consFormFieldValidation class="space-y-5 mt-5" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit(resetPasswordForm)">
    <div class="space-y-0.5">
      <label class="text-base text-gray-600">Email address</label>
      <input
        type="email"
        class="w-full h-12 border border-gray-800 rounded px-3 text-base"
        placeholder="E-mail"
        formControlName="email"
        required
      />
    </div>

    <button type="submit" class="text-center w-full bg-blue-700 hover:bg-blue-800 rounded-md py-3 font-medium text-white">
      Submit
    </button>

    <div class="text-center">
      <p>Back to <a routerLink="/hotel/login" class="text-blue-700 hover:underline">Sign in</a> page</p>
    </div>
  </form>
</div>
