<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <nz-form-item>
        <nz-form-label style="width: 120px" nzFor="ma">Mã Dự Án </nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập mã">
          <input nz-input type="text" id="ma" name="ma" [(ngModel)]="project.ma" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label style="width: 120px" nzFor="ten">Tên </nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập tên">
          <input nz-input type="text" id="ten" name="ten" [(ngModel)]="project.ten"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label style="width: 120px" nzFor="tienDo">Tiến Độ </nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập tiến độ">
          <input nz-input type="number" id="tienDo" name="tienDo" [(ngModel)]="project.tienDo"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label style="width: 120px" nzFor="chiPhi">Chi Phí </nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập chi phí">
          <input nz-input type="number" id="chiPhi" name="chiPhi" [(ngModel)]="project.chiPhi"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
      <nz-form-label style="width: 120px" nzFor="ngayBatDau">Ngày Bắt Đầu </nz-form-label>
      <nz-form-control nzErrorTip="Vui lòng nhập ngày bắt đầu">
        <nz-date-picker id="ngayBatDau" name="ngayBatDau" [(ngModel)]="project.ngayBatDau"/>
      </nz-form-control>
    </nz-form-item>
      <nz-form-item>
        <nz-form-label style="width: 120px" nzFor="ngayKetThuc">Ngày Kết Thúc </nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập ngày kết thúc">
          <nz-date-picker id="ngayKetThuc" name="ngayKetThuc" [(ngModel)]="project.ngayKetThuc"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label  style="width: 120px"nzFor="ghiChu">Ghi Chú </nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập ghi chú">
          <input nz-input type="text" id="ghiChu" name="ghiChu" [(ngModel)]="project.ghiChu"/>
        </nz-form-control>
      </nz-form-item>



      <br>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary" style="width: 100%" routerLink="/admin/project" (click)="saveProject()">Thêm</button>
        </nz-form-control>
      </nz-form-item>
    </div>

  </div>
</div>
