<nz-page-header
  class="site-page-header"
  nzBackIcon
  nzTitle="Danh sách loại phòng"
  nzSubtitle="Total {{roomCategory.length || 0}}"
>
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>Loại Phòng</nz-breadcrumb-item>
    <nz-breadcrumb-item>Quản lý loại phòng</nz-breadcrumb-item>
  </nz-breadcrumb>
</nz-page-header>

<div class="page-content">
  <nz-table #tableData [nzData]="roomCategory">
    <thead>
    <tr>
<!--      <th nzLeft>STT</th>-->
      <th nzLeft>Id</th>
      <th>Mã loại phòng</th>
      <th>Tên loại phòng</th>
      <th>Ghi chú</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of tableData.data; let i = index">
<!--      <th nzLeft>{{ i + 1 }}</th>-->
      <th nzLeft>{{ data.id }}</th>
      <td nzLeft>{{ data.maLoaiPhong }}</td>
      <td nzLeft>{{ data.tenLoaiPhong }}</td>
      <td nzLeft>{{ data.ghiChu }}</td>
    </tr>
    </tbody>
  </nz-table>
</div>

