<div>
  <div class="submit-form">
    <div *ngIf="!submitted">

      <nz-form-item>
        <nz-form-label style="width: 120px" nzFor="ma">Ngày bắt đầu </nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập mã">
          <nz-date-picker id="ngayBatDau" name="ngayBatDau" [(ngModel)]="maintenance.ngayBatDau"></nz-date-picker>

        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label style="width: 120px" nzFor="giaPhong">Ngày kết thúc </nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập giá">
          <nz-date-picker id="ngayKetThuc" name="ngayKetThuc" [(ngModel)]="maintenance.ngayKetThuc"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label style="width: 120px" nzFor="giaPhong">Chi phí bảo trì </nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập giá">
          <input nz-input type="number" id="chiPhiBaoTri" name="chiPhiBaoTri" [(ngModel)]="maintenance.chiPhiBaoTri"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label style="width: 120px" nzFor="giaPhong">Ghi chú </nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập ">
          <input nz-input type="text" id="ghiChu" name="ghiChu" [(ngModel)]="maintenance.ghiChu"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label style="width: 120px" nzFor="idChiTietPhong">Chi Tiết Phòng</nz-form-label>
        <nz-select id="idChiTietPhong" name="idChiTietPhong" style="width: 200px" [(ngModel)]="maintenance.idChiTietPhong">
          <nz-option *ngFor="let data of roomInfor" nzLabel="{{ data.id }}" nzValue="{{ data.id }}"></nz-option>
        </nz-select>
      </nz-form-item>
      <br>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary" style="width: 100%" routerLink="/admin/maintenance" (click)="saveMaintenance()">Thêm</button>
        </nz-form-control>
      </nz-form-item>

    </div>


  </div>
</div>
