<div>
  <div *ngIf="hasError" class="p-3 my-4 text-md text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
       role="alert">
    {{errorMsg}}
  </div>
  <form consFormFieldValidation [formGroup]="submitForm" (ngSubmit)="onSubmit(submitForm)">
    <nz-form-item>
      <nz-form-label nzFor="idLoaiPhong">Loại phòng</nz-form-label>
      <nz-form-control nzErrorTip="Vui lòng chọn loại phòng">
      <select id="idLoaiPhong" formControlName="idLoaiPhong" style="width: 1400px;height: 40px;font-size: 18px;border-width: 1px; border-style: solid; border-color: darkgrey;border-radius: 3px" required>
        <option *ngFor="let data of roomType" value="{{data.id}}">{{data.tenLoaiPhong}}</option>
      </select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="image">Ảnh phòng</nz-form-label>
      <nz-form-control>
        <input type="file" id="image" accept="image/*" style="width: 1400px;margin-left: 5px"/>
      </nz-form-control>
    </nz-form-item>
    <br>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary" style="width: 98%" [disabled]="submitForm.invalid">Thêm</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
