<nz-page-header
  class="site-page-header"
  nzBackIcon
  nzTitle="Danh sách đặt phòng"
  nzSubtitle="Total {{roomOrder.length || 0}}"
>
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>Quản lý đặt phòng</nz-breadcrumb-item>
    <nz-breadcrumb-item>Danh sách đặt phòng</nz-breadcrumb-item>
  </nz-breadcrumb>
</nz-page-header>

<div class="page-content">
  <div>
<!--    <div style="float: right">-->
<!--      <a type="button"-->
<!--        class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium-->
<!--      text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500-->
<!--      group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800"-->
<!--        href="/admin/room-manager/room-list-order"-->
<!--      >-->
<!--      <span-->
<!--        class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">-->
<!--          Đặt phòng-->
<!--      </span>-->
<!--      </a>-->
<!--    </div>-->
    <div style="float: left">
      <fieldset class="w-full space-y-1 dark:text-gray-100">
        <label class="hidden">Search</label>
        <div class="relative">
        <span class="absolute inset-y-0 left-0 flex items-center pl-2">
          <button type="button" title="search" class="p-1 focus:outline-none focus:ring">
            <svg fill="currentColor" viewBox="0 0 512 512" class="w-4 h-4 dark:text-gray-100">
              <path
                d="M479.6,399.716l-81.084-81.084-62.368-25.767A175.014,175.014,0,0,0,368,192c0-97.047-78.953-176-176-176S16,94.953,16,192,94.953,368,192,368a175.034,175.034,0,0,0,101.619-32.377l25.7,62.2L400.4,478.911a56,56,0,1,0,79.2-79.195ZM48,192c0-79.4,64.6-144,144-144s144,64.6,144,144S271.4,336,192,336,48,271.4,48,192ZM456.971,456.284a24.028,24.028,0,0,1-33.942,0l-76.572-76.572-23.894-57.835L380.4,345.771l76.573,76.572A24.028,24.028,0,0,1,456.971,456.284Z"></path>
            </svg>
          </button>
        </span>
          <input type="search" name="Search" placeholder="Search..." id="searchInput"
                 class="w-32 py-2 pl-10 text-sm rounded-md sm:w-96 focus:outline-0 dark:bg-gray-800 dark:text-white
                 focus:dark:bg-gray-900 focus:dark:border-violet-400 bg-gray-300"
                 [ngModel]="searchInput"
          >
        </div>
      </fieldset>
    </div>
  </div>
  <nz-table #sortTable [nzData]="roomOrder" nzTableLayout="fixed" class="w-full text-sm text-left text-gray-500 dark:text-gray-400" #tableData [nzData]="roomOrder">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <!--      <th nzLeft>STT</th>-->
      <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">
        {{ column.title }}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr class="w-full bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
        *ngFor="let data of sortTable.data; let i = index">
      <td class="px-6 py-4">
        {{ data.ma }}
      </td>
      <td class="px-6 py-4">
        {{ data.tenPhong }}
      </td>
      <td class="px-6 py-4">
        {{ data.checkIn | date: APP_DATE }}
      </td>
      <td class="px-6 py-4">
        {{ data.checkOut | date: APP_DATE }}
      </td>

      <td class="px-6 py-4">
        {{ data.hoTen }}
      </td>
      <td class="px-6 py-4">
        {{ data.sdt }}
      </td>
      <td class="px-6 py-4">
        <div class="flex items-center" *ngIf="data.trangThai == 1">
          <div class="h-2.5 w-2.5 rounded-full bg-green-500 mr-2"></div>
          Đã đặt
        </div>

        <div class="flex items-center" *ngIf="data.trangThai == 0">
          <div class="h-2.5 w-2.5 rounded-full bg-red-500 mr-2"></div>
          Đã hủy
        </div>
        <div class="flex items-center" *ngIf="data.trangThai == 2">
          <div class="h-2.5 w-2.5 rounded-full bg-blue-500 mr-2"></div>
          Đã check-in
        </div>
        <div class="flex items-center" *ngIf="data.trangThai == 3">
          <div class="h-2.5 w-2.5 rounded-full bg-yellow-500 mr-2"></div>
          Đã trả phòng
        </div>
        <div class="flex items-center" *ngIf="data.trangThai == 4">
          <div class="h-2.5 w-2.5 rounded-full bg-yellow-500 mr-2"></div>
          Chờ xác nhận
        </div>
      </td>
      <td class="px-6 py-4">
        {{ data.tongGia }} VNĐ
      </td>
      <!--      <td class="px-6 py-4">-->
      <!--        <div class="flex items-center" *ngIf="data.trangThai == 1">-->
      <!--          <div class="h-2.5 w-2.5 rounded-full bg-green-500 mr-2"></div>-->
      <!--          Online-->
      <!--        </div>-->

      <!--        <div class="flex items-center" *ngIf="data.trangThai == 0">-->
      <!--          <div class="h-2.5 w-2.5 rounded-full bg-red-500 mr-2"></div>-->
      <!--          Offline-->
      <!--        </div>-->
      <!--      </td>-->
<!--      <td class="px-12 py-4" style="display: flex">-->
<!--        &lt;!&ndash;        <div class="font-medium text-blue-600 dark:text-blue-500 hover:underline">&ndash;&gt;-->
<!--        &lt;!&ndash;          <svg (click)="pdfBill(data.id)" style="color: blue" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"&ndash;&gt;-->
<!--        &lt;!&ndash;               class="bi bi-box-arrow-right" viewBox="0 0 16 16">&ndash;&gt;-->
<!--        &lt;!&ndash;            <path fill-rule="evenodd"&ndash;&gt;-->
<!--        &lt;!&ndash;                  d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"&ndash;&gt;-->
<!--        &lt;!&ndash;                  fill="blue"></path>&ndash;&gt;-->
<!--        &lt;!&ndash;            <path fill-rule="evenodd"&ndash;&gt;-->
<!--        &lt;!&ndash;                  d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"&ndash;&gt;-->
<!--        &lt;!&ndash;                  fill="blue"></path>&ndash;&gt;-->
<!--        &lt;!&ndash;          </svg>&ndash;&gt;-->
<!--        &lt;!&ndash;        </div>&ndash;&gt;-->
<!--        <div *ngIf="data.trangThai == 1">-->
<!--          <div nz-tooltip nzTooltipTitle="Hủy phòng" (click)="showModal2(data.id)">-->
<!--          <svg style="color: red" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"-->
<!--               class="bi bi-trash" viewBox="0 0 16 16">-->
<!--            <path-->
<!--              d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"-->
<!--              fill="red"></path>-->
<!--            <path fill-rule="evenodd"-->
<!--                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"-->
<!--                  fill="red"></path>-->
<!--          </svg>-->
<!--          </div>-->
<!--          &lt;!&ndash;          <button (click)="showRoomUpperPrice(data.giaPhong, data.id)" class="btn-red ml-3" >Đổi phòng</button>&ndash;&gt;-->
<!--        </div>-->
<!--      </td>-->
    </tr>
    </tbody>
  </nz-table>
</div>
<div *ngIf="pdfSrc">
  <iframe [src]="pdfSrc" width="100%" height="600px"></iframe>
</div>
<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Tìm kiếm phòng"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzOkLoading]="isOkLoading"
  nzWidth="65%"
  [nzOkText]="'Tìm kiếm'"
>
  <ng-container *nzModalContent style="width: 100%">
    <div style="margin-top: 40px">

      <label class="col-auto text-lg font-nunito" style="margin-left: 20px;">
        Ngày đặt:
        <input style="border-radius: 10px" type="date" id="checkIn">
        <span style="color: red" *ngIf="hasError">{{message}}</span>
      </label>
      <label class="col-auto text-lg" style="margin-left: 30px">
        Ngày nhận:
        <input style="border-radius: 10px" type="date" id="checkOut">
      </label>
      <label class="text-lg" style="margin-left: 30px">
        Số người:
        <select
          id="soLuongNguoi"
          style="width: 150px;height: 40px"
        >
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4+</option>
        </select>
      </label>
      <label class="text-lg" style="margin-left: 30px"> Loại phòng:
        <select id="tenLoaiPhong" style="width: 200px;height: 40px">
          <option style="height: 40px" *ngFor="let data of roomType"
                  [label]="data.tenLoaiPhong ? data.tenLoaiPhong : 'Chọn loại phòng'"
                  [value]="data.tenLoaiPhong"></option>
        </select>
      </label>
    </div>
  </ng-container>
</nz-modal>

<nz-modal
  [(nzVisible)]="isVisible1"
  (nzOnCancel)="handleCancel1()"
  (nzOnOk)="handleOk1()"
  [nzOkLoading]="isOkLoading1"
  [nzOkText]="'Đồng ý'"
  [nzCancelText]="'Trở về'"

>
  <ng-container *nzModalContent>
    <div>
      <p style="font-size: large">Bạn có chắc muốn hủy phòng này không?</p>
    </div>
  </ng-container>
</nz-modal>
