<div>
  <div class="edit-form">
    <div *ngIf="assetModel">
      <nz-form-item>
        <nz-form-label nzFor="ma">Mã Dự Án: </nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập mã">
          <input nz-input type="text" id="ma" name="ma" [(ngModel)]="assetModel.ma" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="ten">Tên: </nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập tên">
          <input nz-input type="text" id="ten" name="ten" [(ngModel)]="assetModel.ten"/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="ghiChu">Ghi Chú: </nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập ghi chú">
          <input nz-input type="text" id="ghiChu" name="ghiChu" [(ngModel)]="assetModel.ghiChu"/>
        </nz-form-control>
      </nz-form-item>
      <br>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary" style="width: 100%" (click)="updateAsset()">Update</button>
        </nz-form-control>
      </nz-form-item>
    </div>

  </div>
</div>
