<nz-page-header
  class="site-page-header"
  nzBackIcon
  nzTitle="Danh sách phòng"
  nzSubtitle="Total {{room.length || 0}}"
>
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>Quản lý đặt phòng</nz-breadcrumb-item>
    <nz-breadcrumb-item>Danh sách đặt phòng</nz-breadcrumb-item>
  </nz-breadcrumb>
</nz-page-header>
<div class="page-content">
  <div>
    <div>
      <fieldset>
        <label class="hidden">Search</label>
        <div class="relative flex">
        <span class="absolute inset-y-0 left-0 flex items-center pl-2">
          <button type="button" title="search" class="p-1 focus:outline-none focus:ring" (click)="getRoomByString()">
            <svg fill="currentColor" viewBox="0 0 512 512" class="w-4 h-4 dark:text-gray-100">
              <path
                d="M479.6,399.716l-81.084-81.084-62.368-25.767A175.014,175.014,0,0,0,368,192c0-97.047-78.953-176-176-176S16,94.953,16,192,94.953,368,192,368a175.034,175.034,0,0,0,101.619-32.377l25.7,62.2L400.4,478.911a56,56,0,1,0,79.2-79.195ZM48,192c0-79.4,64.6-144,144-144s144,64.6,144,144S271.4,336,192,336,48,271.4,48,192ZM456.971,456.284a24.028,24.028,0,0,1-33.942,0l-76.572-76.572-23.894-57.835L380.4,345.771l76.573,76.572A24.028,24.028,0,0,1,456.971,456.284Z"></path>
            </svg>
          </button>
        </span>
          <input type="search" name="Search" placeholder="Search..." id="searchInput"
                 class="w-32 py-2 pl-10 text-sm rounded-md sm:w-96 focus:outline-0 dark:bg-gray-800 dark:text-white
                 focus:dark:bg-gray-900 focus:dark:border-violet-400 bg-gray-300"
              [ngModel]="searchInput"
                 (ngModelChange)="getRoomByString()"
          >
          <div style="font-size: 18px;margin-left: 10px">
            <label>Từ</label>
            <input type="date" id="checkIn" style="width: 200px;height:30px;border-radius: 5px;border: 1px solid lightskyblue;margin-left: 10px;margin-top: 10px;padding: 5px" [(ngModel)]="checkInDate" (ngModelChange)="getRoomByDate()">
            <label style="margin-left: 10px">đến</label>
            <input type="date" id="checkOut" style="width: 200px;height:30px;border-radius: 5px;border: 1px solid lightskyblue;margin-left: 10px;margin-top: 10px;padding: 5px" [(ngModel)]="checkOutDate" (ngModelChange)="getRoomByDate()">

          </div>
          <div style="font-size: 18px;margin-left: 30px;margin-top: 10px">
            <select id="tenLoaiPhong" class="select-input"
                    style="width: 200px;height: 30px;font-size: 18px;border-width: 1px; border-style: solid; border-color: dodgerblue;border-radius: 3px;margin-left: 10px"
            (change)="getRoomByDate()">
              <option class="option" value="">Tất cả</option>
              <option class="option" *ngFor="let data of roomType"
                      [label]="data.tenLoaiPhong ? data.tenLoaiPhong : 'Chọn loại phòng'"
                      [value]="data.tenLoaiPhong"></option>
            </select>
          </div>
        </div>

      </fieldset>
    </div>
  </div>

  <br>
  <nz-table class="w-full text-sm text-left text-gray-500 dark:text-gray-400" #tableData [nzData]="room">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-6 py-3">
        STT
      </th>
      <th scope="col" class="px-6 py-3">
        Mã
      </th>
      <th scope="col" class="px-6 py-3">
        Giá phòng
      </th>
      <th scope="col" class="px-6 py-3">
        Loại phòng
      </th>
      <th scope="col" class="px-6 py-3">
        Trạng thái
      </th>
      <th scope="col" class="px-12 py-3">
        Tác vụ
      </th>
      <!--      <th scope="col" class="px-6 py-3">-->
      <!--      </th>-->
    </tr>
    </thead>
    <tbody>
    <tr class="w-full bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
        *ngFor="let data of tableData.data; let i = index">
      <td class="px-6 py-4">
        {{i + 1}}
      </td>
      <td class="px-6 py-4">
        {{ data.ma }}
      </td>
      <td class="px-6 py-4">
        {{ data.giaPhong }}
      </td>
      <td class="px-6 py-4">
        {{ data.tenLoaiPhong }}
      </td>
      <td class="px-6 py-4">
        <div class="flex items-center" *ngIf="data.trangThai == 1">
          <div class="h-2.5 w-2.5 rounded-full bg-green-500 mr-2"></div>
          Online
        </div>

        <div class="flex items-center" *ngIf="data.trangThai == 0">
          <div class="h-2.5 w-2.5 rounded-full bg-red-500 mr-2"></div>
          Offline
        </div>
      </td>
      <td class="px-12 py-4" style="display: flex">
        <div>
          <button (click)="test(data.id)"
             class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
            Đặt phòng
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>
