.btn-status-stop{
  margin-left: 8px;
  width: 28px;
  border-radius: 20px;
  color: red;
  cursor: pointer;
}

.btn-status-active{
  margin-left: 8px;
  width: 28px;
  border-radius: 20px;
  color: green;
  cursor: pointer;
}

.btn-info{
  margin-left: 8px;
  width: 28px;
  border-radius: 20px;
  color: #f8ad23;
  cursor: pointer;
}
nz-date-picker{
  border-radius: 40px !important;
  background-color: #39ac31;
}

