<section class="py-6 dark:bg-gray-800 dark:text-gray-50">
  <div class="container grid grid-cols-2 gap-4 p-4 mx-auto md:grid-cols-4">
    <img src="https://i.pinimg.com/564x/3e/44/02/3e440232b6f3b46cd42f8e12f2267b2b.jpg" alt=""
         class="w-full h-full col-span-2 row-span-2 rounded shadow-sm min-h-96 md:col-start-3 md:row-start-1 dark:bg-gray-500 aspect-square">
    <img alt="" class="w-full h-full rounded shadow-sm min-h-48 dark:bg-gray-500 aspect-square"
         src="https://i.pinimg.com/564x/08/d7/2c/08d72c0a1507829c2f4dfbbd57824d33.jpg">
    <img alt="" class="w-full h-full rounded shadow-sm min-h-48 dark:bg-gray-500 aspect-square"
         src="https://i.pinimg.com/564x/72/88/97/7288970fa6c009541646da31eeaedcfe.jpg">
    <img alt="" class="w-full h-full rounded shadow-sm min-h-48 dark:bg-gray-500 aspect-square"
         src="https://i.pinimg.com/564x/08/d7/2c/08d72c0a1507829c2f4dfbbd57824d33.jpg">
    <img alt="" class="w-full h-full rounded shadow-sm min-h-48 dark:bg-gray-500 aspect-square"
         src="https://i.pinimg.com/564x/08/d7/2c/08d72c0a1507829c2f4dfbbd57824d33.jpg">
    <img alt="" class="w-full h-full rounded shadow-sm min-h-48 dark:bg-gray-500 aspect-square"
         src="https://i.pinimg.com/564x/72/88/97/7288970fa6c009541646da31eeaedcfe.jpg">
    <img alt="" class="w-full h-full rounded shadow-sm min-h-48 dark:bg-gray-500 aspect-square"
         src="https://i.pinimg.com/564x/19/2b/6f/192b6fa9f785c60c2c930c838df67a28.jpg">
    <img alt="" class="w-full h-full rounded shadow-sm min-h-48 dark:bg-gray-500 aspect-square"
         src="https://i.pinimg.com/564x/08/d7/2c/08d72c0a1507829c2f4dfbbd57824d33.jpg">
    <img alt="" class="w-full h-full rounded shadow-sm min-h-48 dark:bg-gray-500 aspect-square"
         src="https://i.pinimg.com/564x/3e/44/02/3e440232b6f3b46cd42f8e12f2267b2b.jpg">
    <img src="https://i.pinimg.com/564x/50/64/b3/5064b3f78ae7bf02685522050a974d59.jpg" alt=""
         class="w-full h-full col-span-2 row-span-2 rounded shadow-sm min-h-96 md:col-start-1 md:row-start-3 dark:bg-gray-500 aspect-square">
  </div>
  <br>
  <div style="margin-left: 175px" class="form-booking">
    <div class="flex flex-col">
      <div style="width: 1500px;" class="bg-gray-100 p-6 rounded-xl shadow-lg">
        <div style="height: 100px;">
          <p class="text-hero">Nhập thông tin để tìm phòng</p>
        </div>
        <div class="flex" style="margin-top: 20px;font-family: Lora, serif;">
          <div style="font-size: 20px;margin-left: 10px">
            <label>Ngày nhận phòng</label>
            <input type="date" id="checkIn"
                   style="width: 200px;height:40px;border-radius: 5px;border: 1px solid lightskyblue;margin-left: 10px;margin-top: 10px;padding: 5px">
<!--            <span *ngIf="message" style="font-size: 15px;color: red;font-weight: bold">{{message}}</span>-->
            <label style="margin-left: 10px">Ngày trả phòng</label>
            <input type="date" id="checkOut"
                   style="width: 200px;height:40px;border-radius: 5px;border: 1px solid lightskyblue;margin-left: 10px;margin-top: 10px;padding: 5px">
          </div>
          <div style="font-size: 20px;margin-left: 50px;margin-top: 10px">
            <label>Chọn loại phòng: </label>
            <select id="tenLoaiPhong" class="select-input"
                    style="width: 250px;height: 40px;font-size: 18px;border-width: 1px; border-style: solid; border-color: dodgerblue;border-radius: 3px;margin-left: 10px"
            >
              <option class="option" value="">Tất cả</option>
              <option class="option" *ngFor="let data of roomType"
                      [label]="data.tenLoaiPhong ? data.tenLoaiPhong : 'Chọn loại phòng'"
                      [value]="data.tenLoaiPhong"></option>
            </select>
          </div>
          <div style="margin-top: 8px;margin-left: 20px">
            <button
              class="inline-block shrink-0 rounded-md border border-blue-600 bg-blue-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-transparent hover:text-blue-600 focus:outline-none focus:ring active:text-blue-500"
              (click)="getRoomsSearch()"
            >
              Tìm kiếm
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<input class="bg-red-500" type="text" (blur)="handleBlur()">

<cons-recaptcha></cons-recaptcha>

