<nz-page-header
  class="site-page-header"
  nzBackIcon
  nzTitle="Danh sách tài khoản"
  nzSubtitle="Total {{accountUser.length || 0}}"
>
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>Tài khoản</nz-breadcrumb-item>
    <nz-breadcrumb-item>Quản lý tài khoản</nz-breadcrumb-item>
  </nz-breadcrumb>
</nz-page-header>

<div class="page-content">
  <nz-table #tableData [nzData]="accountUser">
    <thead>
    <tr>
<!--      <th nzLeft>STT</th>-->
      <th nzLeft>Id</th>
      <th>Tên</th>
      <th>Mã khách hàng</th>
      <th>Email</th>
      <th>Mật khẩu</th>
      <th>Trạng thái</th>
      <th>Tác vụ</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of tableData.data; let i = index">
<!--      <th nzLeft>{{ i + 1 }}</th>-->
      <th nzLeft>{{ data.id }}</th>
      <td nzLeft>{{ data.ten }}</td>
      <td nzLeft>{{ data.maKhachHang }}</td>
      <td nzLeft>{{ data.email }}</td>
      <td nzLeft>{{ data.matKhau }}</td>
      <td nzLeft>
        <div class="flex items-center" *ngIf="data.trangThai != 1">
          <div class="h-2.5 w-2.5 rounded-full bg-red-500 mr-2"></div> Ngừng hoạt động
        </div>

        <div class="flex items-center" *ngIf="data.trangThai == 1">
          <div class="h-2.5 w-2.5 rounded-full bg-green-500 mr-2"></div> Hoạt động
        </div>
      </td>
      <td>
          <span nz-icon nzType="eye" nzTheme="outline" routerLink="./account-user-detail/{{ data.id }}"></span>
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>
