<div class="main-detail">
  <!--    style="border: 1px solid red"-->
  <div class="grid grid-rows-1 grid-flow-col gap-3">
    <div class="col-span-3">
      <img src="{{room.image}}" alt="" width="900px"/>
    </div>
    <div class="row-span-2 col-span-2">
      <div style="width: 900px; background-color: lightskyblue; height: 250px; border-radius: 5px">
        <div style="display: flex">
          <h3 style="font-family: 'Lora', serif; font-size: 33px; margin-left: 10px">Mã số phòng: {{room.maPhong}}</h3>
          <nz-rate style="margin-left: 45%" [ngModel]="4.5" nzDisabled></nz-rate>
        </div>
        <div class="text-room">
          <h5>Giá phòng: </h5>
          <h5 style="margin-left: 10px">
    <span
      style="font-size: 20px;font-weight: bold">{{ room.giaPhong | currency:'VND': '':'1.0-0' }}</span>/
            1 đêm
          </h5>
        </div>
        <div class="text-room">
          <h5>Tổng số người: </h5>
          <h5 style="margin-left: 10px">{{room.soLuongNguoi}} người/ phòng</h5>
        </div>
        <div class="text-room">
          <h5>Diện tích: </h5>
          <h5 style="margin-left: 10px">{{room.dienTich}}</h5>
        </div>
        <div class="text-room">
          <h5>Tiện ích: </h5>
          <h5 style="margin-left: 10px">{{room.tienIch}}</h5>
        </div>
        <div class="text-room">
          <h5>Dịch vụ: </h5>
          <h5 style="margin-left: 10px">{{room.dichVu}}</h5>
        </div>
      </div>

    </div>
    <div class="row-span-3" style="margin-left: 90px">
      <div class="form-order-room">
        <h2 class="form-text-order">Thông tin đặt phòng</h2>
        <hr/>
        <div *ngIf="!submitted">
          <form [formGroup]="roomOrderForm" (ngSubmit)="saveRoomOrder()" *ngIf="room">
            <nz-form-label nzFor="checkIn">Ngày nhận phòng</nz-form-label>
            <nz-form-item>
              <nz-form-control nzErrorTip="Vui lòng chọn ngày nhận">
                <nz-date-picker *ngIf="checkIn" style="width: 300px;border: 1px solid lightskyblue" class="form-input-date" [ngModel]="checkIn" (ngModelChange)="checkIn = parseDateString($event)" id="checkIn" formControlName="checkIn"></nz-date-picker>
              </nz-form-control>
            </nz-form-item>
            <nz-form-label nzFor="checkOut">Ngày trả phòng</nz-form-label>
            <nz-form-item>
              <nz-form-control nzErrorTip="Vui lòng chọn ngày trả">
                <nz-date-picker *ngIf="checkOut" style="width: 300px;border: 1px solid lightskyblue" class="form-input-date" [ngModel]="checkOut" (ngModelChange)="checkOut = parseDateString($event)" id="checkOut" formControlName="checkOut"></nz-date-picker>
              </nz-form-control>
            </nz-form-item>
<!--            <nz-form-label nzFor="soNguoi" hidden="hidden">Mã giảm giá (nếu có):</nz-form-label>-->
<!--            <nz-form-item hidden="hidden">-->
<!--              <select (click)="tinhGiamGia()" id="voucher" formControlName="idVoucher"-->
<!--                      style="width: 250px;height: 40px;font-size: 18px;border-width: 1px; border-style: solid; border-color: dodgerblue;border-radius: 3px">-->
<!--                <option-->
<!--                  style="-->
<!--                      width: 250px;-->
<!--                      height: 25px;-->
<!--                      font-size: 18px;-->
<!--                      display: block;-->
<!--                    "-->
<!--                  value="null"-->
<!--                  selected-->
<!--                >-->
<!--                  Chọn mã giảm giá-->
<!--                </option>-->
<!--                <option style="width: 250px;height: 25px;font-size: 18px" *ngFor="let data of voucherList"-->
<!--                        [label]="data.ma + ' - ' + data.moTa" [value]="data.id"></option>-->
<!--              </select>-->
<!--            </nz-form-item>-->
            <nz-form-label nzFor="tongGia">Tổng tiền</nz-form-label>
            <span>{{(calculateTotalDays() * (room.giaPhong ?? 0) - (giamGia ?? 0)) | currencyFormat}}</span>
            <nz-form-item>
              <input id="tongGia" formControlName="tongGia" class="form-input-total"
                     [value]="(calculateTotalDays() * (room.giaPhong ?? 0) - (giamGia ?? 0))"
                     type="hidden"/>
            </nz-form-item>
            <div *ngIf="customerModel">
              <label>Số tiền phải thanh toán : </label>
              <span>{{(calculateTotalDays() * (room.giaPhong ?? 0) - (giamGia ?? 0))*(100 - customerModel.giamGia)/100 | currencyFormat}}</span>
            </div>

            <!--            <nz-form-label nzFor="khachHang">Chọn khách hàng</nz-form-label>-->
            <!--            <nz-form-item>-->
            <!--              <select-->
            <!--                style="width: 250px;height: 40px;font-size: 18px;border-width: 1px; border-style: solid; border-color: dodgerblue;border-radius: 3px"-->

            <!--              id="userId" formControlName="userId">-->
            <!--                <option *ngFor="let data of accounts" [label]="data.name ? data.name : 'Chọn khach hang'"-->
            <!--                        [value]="data.id"></option>-->
            <!--              </select>-->
            <!--            </nz-form-item>-->
            <h2 class="form-text-order">Thông tin khách hàng</h2>
            <hr/>
            <br>
            <nz-card style="width: 300px;border: 1px solid lightskyblue;border-radius: 6px">

              <nz-form-item>
                <nz-form-label nzFor="cccd">Số CCCD</nz-form-label>
                <nz-form-control nzErrorTip="Vui lòng nhập số cccd">
                  <input nz-input type="text" id="cccd" formControlName="cccd" placeholder="Số CCCD" [maxLength]="15"
                         style="border-radius: 5px;border: 1px solid deepskyblue" (blur)="handleByCCCD()">
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label nzFor="hoTen">Tên khách hàng</nz-form-label>
                <nz-form-control nzErrorTip="Vui lòng nhập tên khách hàng">
                  <input nz-input type="text" id="ten" formControlName="hoTen" placeholder="Họ tên" [ngModel]="hoTen"
                         style="border-radius: 5px;border: 1px solid deepskyblue">
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label nzFor="sdt">SĐT Khách hàng</nz-form-label>
                <nz-form-control nzErrorTip="Vui lòng nhập SĐT">
                  <input nz-input type="number" id="sdt" formControlName="sdt" placeholder="SĐT" [maxLength]="10" [ngModel]="sdt"
                         style="border-radius: 5px;border: 1px solid deepskyblue">
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label nzFor="ghiChu">Ghi chú</nz-form-label>
                <nz-form-control nzErrorTip="Vui lòng nhập ghi chú">
                  <input nz-input type="text" id="ghiChu" formControlName="ghiChu" placeholder="Ghi chú"
                         style="border-radius: 5px;border: 1px solid deepskyblue">
                </nz-form-control>
              </nz-form-item>
              <div *ngIf="customerModel">
                <h3 *ngIf="customerModel.id !== '1'">Thẻ thành viên hạng {{customerModel.rank}}(giảm giá {{customerModel.giamGia}}%)</h3>
              </div>
            </nz-card>
            <br>
            <nz-form-item>
              <nz-form-control>
                <button
                  class="group relative inline-block overflow-hidden border border-blue-500 px-8 py-3 focus:outline-none focus:ring cursor-pointer"
                  style="width: 300px; border-radius: 10px"
                  [disabled]="roomOrderForm.invalid"
                >
                  <span
                    class="absolute inset-y-0 left-0 w-[2px] bg-blue-400 transition-all group-hover:w-full group-active:bg-indigo-300"></span>
                  <span
                    class="relative text-sm font-medium text-gray-500 transition-colors group-hover:text-black"
                  >
                      Đặt phòng
                    </span>
                </button>
              </nz-form-control>
            </nz-form-item>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

