<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <form [formGroup]="roomInformationForm" (ngSubmit)="saveRoomInformation()">
        <nz-form-item>
          <nz-form-label style="width: 70px" nzFor="dichVu">Dịch vụ </nz-form-label>
          <nz-form-control nzErrorTip="Vui lòng nhập dịch vụ">
            <input nz-input type="text" id="dichVu" formControlName="dichVu"/>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label style="width: 70px" nzFor="dienTich">Diện tích </nz-form-label>
          <nz-form-control nzErrorTip="Vui lòng nhập diện tích lớn hơn 10">
            <input nz-input type="number" id="dienTich" formControlName="dienTich"/>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label style="width: 70px" nzFor="idPhong">Mã phòng </nz-form-label>
          <nz-form-control nzErrorTip="Vui lòng chọn mã phòng">
            <nz-select id="idPhong" formControlName="idPhong" style="width: 200px">
              <nz-option *ngFor="let data of room" [nzLabel]="data.ma ? data.ma : 'Chọn phòng'" [nzValue]="data.id"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <br>
        <nz-form-item>
          <nz-form-control>
            <button nz-button nzType="primary" style="width: 100%" [disabled]="roomInformationForm.invalid">Thêm</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </div>
</div>
