/* case.component.scss */
.room-container {
  display: flex;
  flex-wrap: wrap;
}

.room-card {
  width: 80px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  margin: 5px;
  border-radius: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 1px solid #ccc;
  cursor: pointer;
}


.floor-1 {
  background-color: #ff9999; /* Color for floor 1 */
}

.floor-2 {
  background-color: #99ff99; /* Color for floor 2 */
}

.floor-3 {
  background-color: #99e0ff;
}

.floor-4 {
  background-color: #9999ff;
}

.floor-5 {
  background-color: #ff99ff;
}

.floor-6 {
  background-color: #99ffff;
}

.floor-7 {
  background-color: #ffc499;
}

.floor-8 {
  background-color: #ffdf99;
}
