<div class="container-fluid">
  <header>
    <nav class="nav-web">
      <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
          <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
            <!-- Mobile menu button-->
            <button type="button"
                    class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
                    aria-controls="mobile-menu" aria-expanded="false">
              <span class="absolute -inset-0.5"></span>
              <span class="sr-only">Open main menu</span>

              <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                   aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
              </svg>
              <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                   aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
              </svg>
            </button>
          </div>
          <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
            <div class="flex flex-shrink-0 items-center">
              <a href="">
                <img class="h-8 w-auto" src="./assets/logo.png"
                     alt="logo">
              </a>
            </div>
            <div class="hidden sm:ml-6 sm:block">
              <div class="flex space-x-4">
                <a [routerLink]="['']"
                   class="hover:underline hover:text-orange-300 text-black rounded-md px-3 py-2 text-sm font-nunito"
                   aria-current="page">Trang chủ</a>
                <a href="#"
                   class="hover:underline hover:text-orange-300 text-black hover:text-blue rounded-md px-3 py-2 text-sm font-nunito">Team</a>
                <a [routerLink]="['room']"
                   class="hover:underline hover:text-orange-300 text-black hover:text-blue rounded-md px-3 py-2 text-sm font-nunito">Phòng</a>
                <a [routerLink]="['blog']"
                   class="hover:underline hover:text-orange-300 text-black hover:text-blue rounded-md px-3 py-2 text-sm font-nunito">Bài
                  viết</a>
                <a [routerLink]="['about']"
                   class="hover:underline hover:text-orange-300 text-black hover:text-blue rounded-md px-3 py-2 text-sm font-nunito">Giới
                  thiệu</a>
              </div>
            </div>
          </div>
          <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
            <!--            thông báo-->
            <div>
              <div class="relative inline-block text-left" style="margin-top: 12px">
                <nz-badge [nzCount]="notifications.length">
                  <span (click)="toggleDropdown()" class="noti-header">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                         class="bi bi-bell" viewBox="0 0 16 16">
                      <path
                        d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                    </svg>
                  </span>
                  <div *ngIf="showDropdown" class="notification-list">
                    <strong class="block p-2 text-xs font-medium uppercase text-gray-400">
                      Thông báo
                    </strong>
                    <div *ngFor="let notification of notifications">
                    <a
                      href="#"
                      class="block rounded-lg px-4 py-2 text-sm text-gray-500 hover:bg-gray-50 hover:text-gray-700"
                      role="menuitem"
                    >
                      {{ notification.noiDung }}
                    </a>
                    </div>
                    <div *ngIf="notifications.length == 0">
                      <a
                        href="#"
                        class="block rounded-lg px-4 py-2 text-sm text-gray-500 hover:bg-gray-50 hover:text-gray-700"
                        role="menuitem"
                      >
                        Không có thông báo
                      </a>
                    </div>
                  </div>
                </nz-badge>
              </div>

            </div>
            <!-- Profile dropdown -->
            <div class="relative ml-3">
              <div>
                <div class="float-right" style="color: white; margin-left: 10px"
                     *ngIf="(user$ | async) as userInfo; else loginButton">
                  <a nz-dropdown [nzDropdownMenu]="menu">
                    <ng-container *ngIf="userInfo.imageUrl">
                      <!-- Hiển thị hình ảnh nếu userInfo.urlImage không null -->
                      <nz-avatar [nzSrc]="userInfo.imageUrl"></nz-avatar>
                    </ng-container>
                    <ng-container *ngIf="!userInfo.imageUrl">
                      <!-- Sử dụng consFirstChar nếu userInfo.urlImage là null -->
                      <nz-avatar nzText="{{userInfo.name | consFirstChar}}"></nz-avatar>
                    </ng-container>
                  </a>
                  <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu nzSelectable style="width: 200px; border-radius: 10px">
                      <li nz-menu-item
                          class="truncate text-ellipsis text-s font-semibold text-gray-400 dark:text-night-300">
                        {{userInfo.name}}
                      </li>
                      <li nz-menu-item
                          class="block cursor-pointer rounded-md px-3 py-2 text-sm font-semibold text-gray-700
                          hover:bg-orange-300 hover-text-primary-500 dark:text-night-200 dark:hover:bg-night-500 dark:hover-text-primary-500"
                          routerLink="/profile"
                      >
                        Profile
                      </li>
                      <li nz-menu-item
                          class="block cursor-pointer rounded-md px-3 py-2 text-sm font-semibold text-gray-700 hover:bg-orange-300 hover-text-primary-500 dark:text-night-200 dark:hover-bg-night-500 dark:hover-text-primary-500">
                        Setting
                      </li>
                      <li nz-menu-item
                          class="block cursor-pointer rounded-md px-3 py-2 text-sm font-semibold text-gray-700 hover:bg-orange-300 hover-text-primary-500 dark:text-night-200 dark:hover-bg-night-500 dark:hover-text-primary-500">
                        Can I Help?
                      </li>
                      <li nz-menu-item
                          class="block cursor-pointer rounded-md px-3 py-2 text-sm font-semibold text-gray-700 hover:bg-gray-100 hover-text-primary-500 dark:text-night-200 dark:hover-bg-night-500 dark:hover-text-primary-500"
                          nzDanger (click)="onLogout1()">
                        Logout
                      </li>
                    </ul>
                  </nz-dropdown-menu>
                </div>

                <ng-template #loginButton>
                  <!-- Hiển thị nút "Đăng nhập" khi userInfo.name không có giá trị -->
                  <button class="border-y-gray-500 hover:bg-blue-400 text-white font-bold py-2 px-4 rounded-full"
                          routerLink="/hotel/login">Đăng nhập
                  </button>
                </ng-template>

              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <div id=main>
    <router-outlet></router-outlet>
  </div>



  <footer class="new_footer_area bg_color">
    <div class="container flex flex-wrap items-center justify-center mx-auto space-y-4 sm:justify-between sm:space-y-0">
      <div class="flex flex-row pr-3 space-x-4 sm:space-x-8">
        <div class="flex items-center justify-center flex-shrink-0 w-12 h-12 rounded-full dark:bg-violet-400">
          <a href="">
            <img class="h-8 w-auto" src="./assets/logo.png"
                 alt="logo">
          </a>
        </div>
        <ul class="flex flex-wrap items-center space-x-4 sm:space-x-8">
          <li>
            <a rel="noopener noreferrer" href="#">Terms of Use</a>
          </li>
          <li>
            <a rel="noopener noreferrer" href="#">Privacy</a>
          </li>
        </ul>
      </div>
      <ul class="flex flex-wrap pl-3 space-x-4 sm:space-x-8">
        <li>
          <a rel="noopener noreferrer" href="#">Instagram</a>
        </li>
        <li>
          <a rel="noopener noreferrer" href="#">Facebook</a>
        </li>
        <li>
          <a rel="noopener noreferrer" href="#">Twitter</a>
        </li>
      </ul>
    </div>
    <div class="new_footer_top">
      <div class="footer_bg">
        <div class="footer_bg_one"></div>
        <div class="footer_bg_two"></div>
      </div>
    </div>
    <div class="footer_bottom">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 col-sm-7">
            <p class="mb-0 f_400">© Intercontinental</p>
          </div>
          <div class="col-lg-6 col-sm-5 text-right">
            <p>Made with <i class="icon_heart"></i> in <a href="" target="_blank">dqk</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>

</div>
