<div class="container-fluid">
  <header>
    <nav class="nav-web">
      <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
          <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
            <!-- Mobile menu button-->
            <button type="button"
                    class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
                    aria-controls="mobile-menu" aria-expanded="false">
              <span class="absolute -inset-0.5"></span>
              <span class="sr-only">Open main menu</span>

              <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                   aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
              </svg>
              <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                   aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
              </svg>
            </button>
          </div>
          <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
            <div class="flex flex-shrink-0 items-center">
              <a href="">
                <img class="h-8 w-auto" src="./assets/logo-main.png"
                     alt="logo">
              </a>
            </div>
            <div class="hidden sm:ml-6 sm:block">
              <div class="flex space-x-4">
                <a [routerLink]="['']"
                   class="hover:underline hover:text-orange-300 text-black rounded-md px-3 py-2 text-sm font-nunito"
                   aria-current="page">Trang chủ</a>
                <a [routerLink]="['comming-soon']"
                   class="hover:underline hover:text-orange-300 text-black hover:text-blue rounded-md px-3 py-2 text-sm font-nunito">Team</a>
                <a [routerLink]="['room']"
                   class="hover:underline hover:text-orange-300 text-black hover:text-blue rounded-md px-3 py-2 text-sm font-nunito">Phòng</a>
                <a [routerLink]="['blog']"
                   class="hover:underline hover:text-orange-300 text-black hover:text-blue rounded-md px-3 py-2 text-sm font-nunito">Bài
                  viết</a>
                <a [routerLink]="['about']"
                   class="hover:underline hover:text-orange-300 text-black hover:text-blue rounded-md px-3 py-2 text-sm font-nunito">Giới
                  thiệu</a>
              </div>
            </div>
          </div>
          <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
            <!--            thông báo-->
            <div>
              <div class="relative inline-block text-left" style="margin-top: 12px">
                <nz-badge [nzCount]="notifications.length">
                  <span nz-dropdown [nzDropdownMenu]="menu1"
                        class="block shrink-0 rounded-lg p-2.5 text-gray-600 shadow-sm hover:text-gray-700"
                        nzTrigger="click" (click)="getNoti()">
                  <span class="sr-only">Notifications</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-5 w-5"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      stroke-width="2"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
                      />
                    </svg>
                  </span>
                  <nz-dropdown-menu #menu1="nzDropdownMenu">
                    <div class="notification-list">
                      <strong class="block p-2 text-xs font-medium uppercase text-gray-400">
                        Thông báo
                      </strong>
                      <div *ngFor="let notification of notifications">
                        <div id="toast-notification"
                             class="w-full max-w-xs p-4 text-gray-900 bg-white rounded-lg shadow dark:bg-gray-800 dark:text-gray-300"
                             role="alert">
                          <a href="/profile/me/list-room-order" class="flex items-center">
                            <div class="relative inline-block shrink-0">
                              <img class="w-12 h-12 rounded-full" src="assets/logo-main.png" alt="Jese Leos image"/>
                              <span
                                class="absolute bottom-0 right-0 inline-flex items-center justify-center w-6 h-6 bg-blue-600 rounded-full">
                                <svg class="w-3 h-3 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 20 18" fill="currentColor">
                                    <path
                                      d="M18 4H16V9C16 10.0609 15.5786 11.0783 14.8284 11.8284C14.0783 12.5786 13.0609 13 12 13H9L6.846 14.615C7.17993 14.8628 7.58418 14.9977 8 15H11.667L15.4 17.8C15.5731 17.9298 15.7836 18 16 18C16.2652 18 16.5196 17.8946 16.7071 17.7071C16.8946 17.5196 17 17.2652 17 17V15H18C18.5304 15 19.0391 14.7893 19.4142 14.4142C19.7893 14.0391 20 13.5304 20 13V6C20 5.46957 19.7893 4.96086 19.4142 4.58579C19.0391 4.21071 18.5304 4 18 4Z"
                                      fill="currentColor"/>
                                    <path
                                      d="M12 0H2C1.46957 0 0.960859 0.210714 0.585786 0.585786C0.210714 0.960859 0 1.46957 0 2V9C0 9.53043 0.210714 10.0391 0.585786 10.4142C0.960859 10.7893 1.46957 11 2 11H3V13C3 13.1857 3.05171 13.3678 3.14935 13.5257C3.24698 13.6837 3.38668 13.8114 3.55279 13.8944C3.71889 13.9775 3.90484 14.0126 4.08981 13.996C4.27477 13.9793 4.45143 13.9114 4.6 13.8L8.333 11H12C12.5304 11 13.0391 10.7893 13.4142 10.4142C13.7893 10.0391 14 9.53043 14 9V2C14 1.46957 13.7893 0.960859 13.4142 0.585786C13.0391 0.210714 12.5304 0 12 0Z"
                                      fill="currentColor"/>
                                    </svg>
                                <span class="sr-only">Message icon</span>
                            </span>
                            </div>
                            <div class="ms-3 text-sm font-normal">
                              <div class="text-sm font-semibold text-gray-900 dark:text-white">Hệ thống</div>
                              <div class="text-sm font-normal"> Bạn {{ notification.noiDung }}</div>
                              <span
                                class="text-xs font-medium text-blue-600 dark:text-blue-500">{{ notification.timestamp | date: 'dd/MM/yyyy HH:mm' }}</span>
                            </div>
                          </a>
                        </div>
                      </div>
                      <div *ngIf="notifications.length == 0">
                        <a
                          href="#"
                          class="block rounded-lg px-4 py-2 text-sm text-gray-500 hover:bg-gray-50 hover:text-gray-700"
                          role="menuitem"
                        >
                          Không có thông báo
                        </a>
                      </div>
                    </div>
                  </nz-dropdown-menu>
                </nz-badge>
              </div>
              <div class="relative inline-block text-left" style="margin-top: 12px">
                <nz-badge [nzCount]="cartItems.length">
                  <span
                        class="block shrink-0 rounded-lg p-2.5 text-gray-600 shadow-sm hover:text-gray-700"
                         [routerLink]="['/me/cart']">
                  <span class="sr-only">Notifications</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-cart2" viewBox="0 0 16 16"> <path
                      d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/> </svg>
                  </span>
                </nz-badge>
              </div>

            </div>
            <!-- Profile dropdown -->
            <div class="relative ml-3">
              <div>
                <div class="float-right" style="color: white; margin-left: 10px"
                     *ngIf="(user$ | async) as userInfo; else loginButton">
                  <a nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click">
                    <ng-container *ngIf="userInfo.imageUrl">
                      <!-- Hiển thị hình ảnh nếu userInfo.urlImage không null -->
                      <nz-avatar [nzSrc]="userInfo.imageUrl"></nz-avatar>
                    </ng-container>
                    <ng-container *ngIf="!userInfo.imageUrl">
                      <button type="button" class="group flex shrink-0 items-center rounded-lg transition">
                        <span class="sr-only">Menu</span>
                        <img
                          alt="Man"
                          src="https://images.unsplash.com/photo-1600486913747-55e5470d6f40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
                          class="h-10 w-10 rounded-full object-cover"
                        />

                        <p class="ms-2 hidden text-left text-xs sm:block">
                          <strong class="block font-medium">{{ userInfo.name }}</strong>

                          <span class="text-gray-500"> {{ userInfo.email }} </span>
                        </p>

                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="ms-4 hidden h-5 w-5 text-gray-500 transition group-hover:text-gray-700 sm:block"
                          viewBox="0 0 20 20"
                          fill="currentColor"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                            clip-rule="evenodd"
                          />
                        </svg>
                      </button>
                    </ng-container>
                  </a>
                  <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu nzSelectable style="width: 200px; border-radius: 10px">
                      <li nz-menu-item
                          class="block cursor-pointer rounded-md px-3 py-2 text-sm font-semibold text-gray-700
                          hover:bg-orange-300 hover-text-primary-500 dark:text-night-200 dark:hover:bg-night-500 dark:hover-text-primary-500"
                          routerLink="/profile/me"
                      >
                        Profile
                      </li>
                      <li nz-menu-item
                          class="block cursor-pointer rounded-md px-3 py-2 text-sm font-semibold text-gray-700 hover:bg-orange-300 hover-text-primary-500 dark:text-night-200 dark:hover-bg-night-500 dark:hover-text-primary-500">
                        Setting
                      </li>
                      <li nz-menu-item
                          class="block cursor-pointer rounded-md px-3 py-2 text-sm font-semibold text-gray-700 hover:bg-orange-300 hover-text-primary-500 dark:text-night-200 dark:hover-bg-night-500 dark:hover-text-primary-500">
                        Can I Help?
                      </li>
                      <li nz-menu-item
                          class="block cursor-pointer rounded-md px-3 py-2 text-sm font-semibold text-gray-700 hover:bg-gray-100 hover-text-primary-500 dark:text-night-200 dark:hover-bg-night-500 dark:hover-text-primary-500"
                          nzDanger (click)="onLogout1()">
                        Logout
                      </li>
                    </ul>
                  </nz-dropdown-menu>
                </div>

                <ng-template #loginButton>
                  <!-- Hiển thị nút "Đăng nhập" khi userInfo.name không có giá trị -->
                  <button class="border-y-gray-500 hover:bg-blue-400 text-white font-bold py-2 px-4 rounded-full"
                          routerLink="/hotel/login">Đăng nhập
                  </button>
                </ng-template>

              </div>
            </div>

          </div>
        </div>
      </div>
    </nav>
  </header>

  <div id=main>
    <router-outlet></router-outlet>
  </div>


  <footer class="new_footer_area bg_color">
    <div class="container flex flex-wrap items-center justify-center mx-auto space-y-4 sm:justify-between sm:space-y-0">
      <div class="flex flex-row pr-3 space-x-4 sm:space-x-8">
        <div class="flex items-center justify-center flex-shrink-0 w-12 h-12 rounded-full dark:bg-violet-400">
          <a href="">
            <img class="h-8 w-auto" src="./assets/logo-main.png"
                 alt="logo">
          </a>
        </div>
        <ul class="flex flex-wrap items-center space-x-4 sm:space-x-8">
          <li>
            <a rel="noopener noreferrer" href="#">Terms of Use</a>
          </li>
          <li>
            <a rel="noopener noreferrer" href="#">Privacy</a>
          </li>
        </ul>
      </div>
      <ul class="flex flex-wrap pl-3 space-x-4 sm:space-x-8">
        <li>
          <a rel="noopener noreferrer" href="#">Instagram</a>
        </li>
        <li>
          <a rel="noopener noreferrer" href="#">Facebook</a>
        </li>
        <li>
          <a rel="noopener noreferrer" href="#">Twitter</a>
        </li>
      </ul>
    </div>
    <div class="new_footer_top">
      <div class="footer_bg">
        <div class="footer_bg_one"></div>
        <div class="footer_bg_two"></div>
      </div>
    </div>
    <div class="footer_bottom">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 col-sm-7">
            <p class="mb-0 f_400">© Intercontinental</p>
          </div>
          <div class="col-lg-6 col-sm-5 text-right">
            <p>Made with <i class="icon_heart"></i> in <a href="" target="_blank">dqk</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>

</div>
