.nav-web{
  background-color: #d3c3b9;
}

.noti-header{
  width: 32px;
  height: 32px;
  border-radius: 1px;
  background: rgba(238, 238, 238, 0);
  display: inline-block;
  vertical-align: middle;
}

.noti-header:hover {
  color: #faf9f8;
}

nz-badge {
  margin-right: 20px;
}

.notification-list {
  border-radius: 10px;
  width: 300px;
  border: 1px solid #ccc;
  padding: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
