<nz-page-header
  class="site-page-header"
>
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>Phòng</nz-breadcrumb-item>
    <nz-breadcrumb-item>Quản lý phòng đặt</nz-breadcrumb-item>
  </nz-breadcrumb>
</nz-page-header>

<div class="page-content">
  <div>
    <div class="flex">
      <div style="font-size: 18px;margin-left: 10px;font-family: Arial">
        <label>Từ ngày</label>
        <input type="date" id="checkIn"
               style="width: 200px;height:30px;border-radius: 5px;border: 1px solid lightskyblue;margin-left: 10px;margin-top: 10px;padding: 5px">
      </div>
      <div style="font-size: 18px;margin-left: 30px;font-family: Arial">
        <label>đến ngày</label>
        <input type="date" id="checkOut"
               style="width: 200px;height:30px;border-radius: 5px;border: 1px solid lightskyblue;margin-left: 10px;margin-top: 10px;padding: 5px">
      </div>
      <div style="font-size: 18px;margin-left: 30px;font-family: Arial;margin-top: 10px">
        <label>Loại phòng</label>
        <select id="tenLoaiPhong" class="select-input"
                style="width: 300px;height: 30px;font-size: 18px;border-width: 1px; border-style: solid; border-color: dodgerblue;border-radius: 3px;margin-left: 10px"
        >
          <option class="option" value="">Tất cả</option>
          <option class="option" *ngFor="let data of roomType"
                  [label]="data.tenLoaiPhong ? data.tenLoaiPhong : 'Chọn loại phòng'"
                  [value]="data.tenLoaiPhong"></option>
        </select>
      </div>
      <!--      <div style="font-size: 18px;margin-left: 30px;font-family: Arial;margin-top: 10px">-->
      <!--        <label>Trạng thái phòng</label>-->
      <!--        <select id="trangThai" class="select-input"-->
      <!--                style="width: 200px;height: 30px;font-size: 18px;border-width: 1px; border-style: solid; border-color: dodgerblue;border-radius: 3px;margin-left: 10px"-->
      <!--        >-->
      <!--          <option class="option" value="0">Tất cả</option>-->
      <!--          <option class="option" value="1">Đã check-in</option>-->
      <!--          <option class="option" value="2">Chờ check-in</option>-->
      <!--        </select>-->
      <!--      </div>-->
    </div>
    <div class="flex">
      <div style="font-size: 18px;margin-left: 10px;font-family: Arial;margin-top: 10px">
        <label>Khách hàng: </label>
        <input id="khachHang"
               style="width: 400px;height:30px;border-radius: 5px;border: 1px solid lightskyblue;margin-left: 10px;margin-top: 30px;padding: 5px"
               placeholder="Nhập tên hoặc số CCCD khách hàng">
      </div>
      <div style="margin-left: 30px;margin-top: 30px">
        <button (click)="resetSearch()" class="button-danger"
        >
          Đặt lại
        </button>
      </div>
      <div style="margin-left: 30px">
        <button (click)="searchRoom('top')" style="margin-top: 30px;" class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium
      text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500
      group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800">
                <span
                  class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
          Tìm kiếm
                </span>
        </button>
      </div>

      <div style="margin-left: 30px">
        <button (click)="getRoomToDay()" style="margin-top: 30px;" class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium
      text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-yellow-500 group-hover:from-cyan-500
      group-hover:to-yellow-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800">
                <span
                  class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
          Hôm nay
                </span>
        </button>
      </div>
      <div style="margin-left: 30px">
        <button (click)="getListCheckOutToDay()" style="margin-top: 30px;" class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium
      text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500
      group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800">
                <span
                  class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
          Các phòng sẽ trả ngày hôm nay
                </span>
        </button>
      </div>
      <div style="margin: 10px">
        <br>
        <!--        <p style="font-weight: bolder;font-size: 16px">Số phòng trống: {{soPhongTrong}}</p>-->
      </div>
    </div>
    <!--    <nz-table class="w-full text-sm text-left text-gray-500 dark:text-gray-400" #tableData [nzData]="room">-->
    <!--      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">-->
    <!--      <tr>-->
    <!--        <th scope="col" class="px-6 py-3">-->
    <!--          STT-->
    <!--        </th>-->
    <!--        <th scope="col" class="px-6 py-3">-->
    <!--          Mã số phòng-->
    <!--        </th>-->
    <!--        <th scope="col" class="px-6 py-3">-->
    <!--          Ngày đặt-->
    <!--        </th>-->
    <!--        <th scope="col" class="px-6 py-3">-->
    <!--          Ngày check-in-->
    <!--        </th>-->
    <!--        <th scope="col" class="px-6 py-3">-->
    <!--          Ngày check-out-->
    <!--        </th>-->
    <!--      </tr>-->
    <!--      </thead>-->
    <!--    </nz-table>-->
    <hr style="margin: 10px;">
    <div style="margin-top: 10px">
      <div nz-row>
        <div *ngFor="let data of roomMapping" nz-col nzSpan="6">
          <div (click)="showListDP(data.id)"
               style="border: 1px solid gray;border-radius: 5px;margin: 10px;height: 250px;background-color: lightskyblue">
            <p
              style="text-align: center;font-family: 'Roboto Mono', monospace;font-size: 22px;font-weight: bold;color: grey;margin: 3px">
              Phòng {{data.ma}}
            </p>
            <hr style="margin: 5px;color: #5e2ced">
            <div *ngIf="data.id" style="font-size: 15px;padding-left: 5px">
              <div class="flex">
                <div class="flex" style="width: 50%">
                  <span nz-icon nzType="home" nzTheme="outline"></span>
                  <p style="margin-top: -3px;margin-left: 5px"> {{data.tenLoaiPhong}}</p>
                </div>
                <div class="flex" style="margin-left: 10px">
                  <span nz-icon nzType="team" nzTheme="outline"></span>
                  <p style="margin-top: -3px;margin-left: 5px"> {{data.soNguoi}} người</p>
                </div>
              </div>

              <!--              <div class="flex">-->
              <!--                <div class="flex" style="width: 50%">-->
              <!--                  <span nz-icon nzType="user" nzTheme="outline"></span>-->
              <!--                  <p style="margin-top: -3px;margin-left: 5px"> {{data.hoTen}}</p>-->
              <!--                </div>-->
              <!--                <div class="flex" style="margin-left: 10px">-->
              <!--                  <span nz-icon nzType="check" nzTheme="outline"></span>-->
              <!--                  <p style="margin-top: -3px;margin-left: 5px" *ngIf="data.trangThai == 2">Đã-->
              <!--                    check-in</p>-->
              <!--                  <p style="margin-top: -3px;margin-left: 5px" *ngIf="data.trangThai == 1">Chờ-->
              <!--                    check-in</p>-->
              <!--                </div>-->
              <!--              </div>-->

              <!--              <div class="flex" style="margin-top: 20px">-->
              <!--                <span nz-icon nzType="field-time" nzTheme="outline"></span>-->
              <!--                <p style="margin-top: -3px;margin-left: 5px">{{ data.checkIn | date : 'dd-MM-yyyy'}}-->
              <!--                  - {{ data.checkOut | date : 'dd-MM-yyyy'}}</p>-->
              <!--              </div>-->

              <div *ngIf="data.soPhong > 0">
                <br>
                <p style="font-size: 30px;text-align: center">Lượt đặt: {{data.soPhong}}</p>
                <!--                <p style="font-size: 30px;text-align: center">Lượt đặt: {{getSoLanDatPhong(data.id)}}</p>-->
              </div>
              <div *ngIf="data.soPhong == 0">
                <br>
                <p style="font-size: 30px;text-align: center">Sẵn sàng đón khách</p>
              </div>
              <div style="color: black;margin: 10px">
                <br>
                <nz-spin nzTip="Vui lòng chờ..." [nzSize]="'large'" *ngIf="isVisibleSpin && data.id == idPhong">
                </nz-spin>
              </div>
            </div>
            <!--            <div *ngIf="!data.idDatPhong">-->
            <!--              <p style="font-size: 30px;text-align: center">Sẵn sàng đón khách</p>-->
            <!--            </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<nz-modal
  [(nzVisible)]="isVisibleListDP"
  nzTitle="THÔNG TIN ĐẶT PHÒNG"
  (nzOnCancel)="handleCancelListDP()"
  (nzOnOk)="onOk()"
  nzWidth="900px"
  nzFooter=" "
>
  <ng-container *nzModalContent>
    <div class="flex">
      <div style="width: 50%;border-radius: 5px;border: 1px solid gray;margin: 5px">
        <div style="margin: 10px;padding: 10px">
          <h3 style="font-weight: bolder;font-size: 20px">Phòng {{roomMapMd.ma}}</h3>
        </div>
        <hr style="width: 100%">
        <div style="margin: 10px;padding: 10px;font-size: 18px;font-family: Arial">
          Loại phòng: {{roomMapMd.tenLoaiPhong}}
          <br>
          Giá phòng: {{roomMapMd.giaTheoNgay | currency : 'VND': '':'1.0-0'}}
          <br>
          Tiện ích: {{roomMapMd.tienIch}}
          <br>
          Phòng phù hợp cho: {{roomMapMd.soNguoi}} người
        </div>
      </div>
      <div style="width: 45%;margin: 5px">
        <div>
          <img src="https://i.pinimg.com/564x/08/d7/2c/08d72c0a1507829c2f4dfbbd57824d33.jpg">
        </div>
      </div>
    </div>
    <div *ngIf="room.length > 0">
      <div>
        <hr>
        <p style="text-align: center;font-size: 25px;margin: 10px;font-weight: bolder">DANH SÁCH ĐẶT PHÒNG TRONG THỜI
          GIAN NÀY</p>
        <hr>
      </div>
      <div>
        <nz-table #basicTable [nzData]="room">
          <thead>
          <tr>
            <th>STT</th>
            <th>Số phòng</th>
            <th>Loại phòng</th>
            <th>Giá phòng</th>
            <th>Ngày đặt</th>
            <th>Ngày nhận phòng</th>
            <th>Ngày trả phòng</th>
            <th>Trạng thái</th>
            <th>Tác vụ</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of basicTable.data;let i = index;">
            <td>{{ i + 1 }}</td>
            <td>{{ data.tenPhong }}</td>
            <td>{{ data.tenLoaiPhong }}</td>
            <td>{{ data.giaPhong | currency:'VND': '':'1.0-0'  }}</td>
            <td>{{ data.ngayDat | date : 'dd-MM-yyyy' }}</td>
            <td>{{ data.checkIn | date : 'dd-MM-yyyy' }}</td>
            <td>{{ data.checkOut | date : 'dd-MM-yyyy' }}</td>
            <td>{{ data.trangThai == 1 ? 'Chờ nhận phòng' : data.trangThai == 2 ? 'Đã nhận phòng' : data.trangThai == 3 ? 'Đã trả phòng' : data.trangThai == 5 ? 'Trả phòng muộn' : 'Đã hủy'}}</td>
            <td>
              <button><span nz-icon nzType="eye" nzTheme="outline" nz-tooltip nzTooltipTitle="Xem"
                            (click)="viewRoom(data.idDatPhong, data.idHoaDon, data.idDatPhong)"></span></button>
            </td>
          </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
    <div *ngIf="room.length == 0 || checkList == 0">
      <p style="font-size: 30px;text-align: center">Hiện chưa có khách đặt phòng trong khoảng thời gian này!
<!--        ({{dateNow}})-->
      </p>
      <div style="display: flex;justify-content: center;align-items: center">
        <button (click)="showOrderRoom()" style="margin-top: 30px;" class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium
      text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-yellow-500 group-hover:from-cyan-500
      group-hover:to-yellow-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800">
                <span
                  class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
          Đặt ngay
                </span>
        </button>
      </div>
    </div>
  </ng-container>
</nz-modal>

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="THÔNG TIN PHÒNG"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="onOk()"
  nzWidth="full"
  nzFooter=" "
>
  <ng-container *nzModalContent>
    <div>
      <div>
        <div style="width: 100%" class="flex">
        <p style="text-align: center;font-size: 30px;font-weight:bolder;margin-bottom: 5px;width: 93%">Phòng
          số {{roomModel.tenPhong}}</p>
            <button *ngIf="roomModel.trangThai == 1" (click)="showModalHuyPhong(roomModel.idDatPhong)" class="button-danger"
            >
              Hủy phòng
            </button>
        </div>
        <hr>
      </div>
      <br>
      <div *ngIf="roomModel.idDatPhong" class="flex">
        <div style="width: 68%;">
          <div style="height: 470px;border: 1px solid darkgrey;border-radius: 5px;margin: 5px">
            <div style="height: 35px;background-color: deepskyblue">
              <p style="color: white;font-weight: bolder;font-size: 16px;padding: 3px;padding-left: 10px">Chi tiết thuê
                phòng</p>
            </div>
            <div style="padding:10px;padding-top:10px;font-size: 15px;font-weight: bolder;height: 60px;width: 100%"
                 class="flex">
              <p>Khách hàng: </p>
              <p style="color:red;"> {{roomModel.hoTen}}</p>
              <p style="padding-left: 30px">Ngày đặt: </p>
              <p style="color:red;"> {{roomModel.ngayDat | date : 'dd-MM-yyyy'}}</p>
              <p style="padding-left: 30px">Ngày nhận phòng: </p>
              <p style="color:red;"> {{roomModel.checkIn | date : 'dd-MM-yyyy'}}</p>
              <p style="padding-left: 30px">Ngày trả phòng: </p>
              <p style="color:red;"> {{roomModel.checkOut | date : 'dd-MM-yyyy'}}</p>
              <button
                (click)="showFormChangeRoom(roomModel.tenLoaiPhong, roomModel.id, roomModel.checkIn, roomModel.checkOut)"
                style="margin-top: -5px;margin-left: 40px"
                class="button-green"
                *ngIf="roomModel.trangThai == 1">
                Đổi phòng
              </button>
              <div>
                <button (click)="showFormCheckIn(roomModel.idDatPhong)" style="margin-top: -5px;margin-left: 40px"
                        class="button-blue"
                        *ngIf="roomModel.trangThai == 1">
                  Check-in
                </button>
                <div class="flex">
                  <button style="margin-top: -5px;margin-left: 30px"
                          class="button-blue"
                          (click)="showFormCheckout(roomModel.idDatPhong)"
                          *ngIf="roomModel.trangThai == 2 || roomModel.trangThai == 5">
                    Check-out
                  </button>
                  <button style="margin-top: -5px;margin-left: 5px"
                          class="button-blue2"
                          (click)="showFormCheckoutMuon(roomModel.idDatPhong)"
                          *ngIf="roomModel.trangThai == 2">
                    Check-out muộn
                  </button>
                </div>
                <div *ngIf="roomModel.trangThai == 5">
                  <p style="font-size: 15px;font-weight: bolder;margin-left: 5px;color: red">(Trả phòng muộn)</p>
                </div>
                <div *ngIf="roomModel.trangThai == 3">
                  <p style="font-size: 15px;font-weight: bolder;margin-left: 5px;color: red">(Đã trả phòng)</p>
                </div>
              </div>
            </div>
            <hr>
            <div>
              <h3 style="font-weight: bolder;font-size: 16px;padding: 5px">Danh sách phòng cùng đặt</h3>
              <nz-table #basicTable [nzData]="roomOfBill">
                <thead>
                <tr>
                  <th>STT</th>
                  <th>Số phòng</th>
                  <th>Loại phòng</th>
                  <th>Giá phòng</th>
                  <th>Ngày đặt</th>
                  <th>Ngày nhận phòng</th>
                  <th>Ngày trả phòng</th>
                  <th>Trạng thái</th>
                  <th>Tác vụ</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of basicTable.data;let i = index;">
                  <td>{{ i + 1 }}</td>
                  <td>{{ data.tenPhong }}</td>
                  <td>{{ data.tenLoaiPhong }}</td>
                  <td>{{ data.giaPhong | currency:'VND': '':'1.0-0'  }}</td>
                  <td>{{ data.ngayDat | date : 'dd-MM-yyyy' }}</td>
                  <td>{{ data.checkIn | date : 'dd-MM-yyyy' }}</td>
                  <td>{{ data.checkOut | date : 'dd-MM-yyyy' }}</td>
                  <td>{{ data.trangThai == 1 ? 'Chờ nhận phòng' : data.trangThai == 2 ? 'Đã nhận phòng' : data.trangThai == 3 ? 'Đã trả phòng' : data.trangThai == 5 ? 'Trả phòng muộn' : 'Đã hủy'}}</td>
                  <td>
                    <button><span nz-icon nzType="eye" nzTheme="outline" nz-tooltip nzTooltipTitle="Xem"
                                  (click)="viewRoom(data.idDatPhong, data.idHoaDon, data.idDatPhong)"></span></button>
                  </td>
                </tr>
                </tbody>
              </nz-table>
            </div>
          </div>
          <div style="height: 500px;border: 1px solid darkgrey;border-radius: 5px;margin: 5px">
            <div style="height: 35px;background-color: deepskyblue">
              <p style="color: white;font-weight: bolder;font-size: 16px;padding: 3px;padding-left: 10px">
                Chi tiết dịch vụ
              </p>
            </div>
            <div class="flex">
              <div style="width: 55%;height:445px;border: 1px solid darkgrey;border-radius: 5px;margin: 5px">
                <h3 style="font-weight: bolder;font-size: 16px;padding: 5px">Danh sách dịch vụ sử dụng</h3>
                <nz-table #basicTable2 [nzData]="detailsService">
                  <thead>
                  <tr>
                    <th>STT</th>
                    <th>Tên dịch vụ</th>
                    <th>Số lượng</th>
                    <th>Thời gian đặt</th>
                    <th>Đơn giá</th>
                    <th>Tổng</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let data of basicTable2.data;let i = index;">
                    <td>{{ i + 1 }}</td>
                    <td>{{ data.tenDichVu }}</td>
                    <td>{{ data.soLuong }}</td>
                    <td>{{ data.thoiGianDat | date : 'dd-MM-yyyy hh:mm:ss' }}</td>
                    <td>{{ data.giaDichVu | currency:'VND': '':'1.0-0' }}</td>
                    <td>{{ data.giaDichVu * data.soLuong | currency:'VND': '':'1.0-0' }}</td>
                  </tr>
                  </tbody>
                </nz-table>
                <div style="margin: 5px">
                  <p style="color: deepskyblue;font-weight: bolder;font-size: 18px">Tổng tiền dịch
                    vụ: {{tongTienDichVu | currency:'VND': '':'1.0-0' }}</p>
                </div>
              </div>
              <div style="width: 43%;height:445px;border: 1px solid darkgrey;border-radius: 5px;margin: 5px">
                <h3 style="font-weight: bolder;font-size: 16px;padding: 5px">Order dịch vụ</h3>
                <div
                  *ngIf="(roomModel.trangThai === 1 || roomModel.trangThai === 2 || roomModel.trangThai === 5) && roomModel.trangThaiThanhToan !== 5"
                  nz-row>
                  <div *ngFor="let data of roomServiceModel" nz-col nzSpan="8">
                    <div (click)="showFormOrderDichVu(data.id)"
                         style="border: 1px solid gray;border-radius: 5px;margin: 10px;height: 180px;">
                      <div style="width: 90%;height: 60%;margin: 3px">
                        <img src="./assets/images/{{data.image}}" style="width: 100%;height: 100%">
                      </div>
                      <div style="padding: 5px;font-weight: bolder">
                        <h1>{{data.tenDichVu}}</h1>
                        <h1>Giá: {{data.giaDichVu | currency:'VND': '':'1.0-0' }}</h1>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="roomModel.trangThai === 3 || roomModel.trangThaiThanhToan === 5" nz-row>
                  <div *ngFor="let data of roomServiceModel" nz-col nzSpan="8">
                    <div
                      style="border: 1px solid gray;border-radius: 5px;margin: 10px;height: 180px;">
                      <div style="width: 90%;height: 60%;margin: 3px">
                        <img src="./assets/images/{{data.image}}" style="width: 100%;height: 100%">
                      </div>
                      <div style="padding: 5px;font-weight: bolder">
                        <h1>{{data.tenDichVu}}</h1>
                        <h1>Giá: {{data.giaDichVu | currency:'VND': '':'1.0-0' }}</h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="width: 30%;height: 1030px;border: 1px solid darkgrey;border-radius: 5px;margin: 5px">
          <div style="height: 35px;background-color: deepskyblue">
            <p style="color: white;font-weight: bolder;font-size: 16px;padding: 3px;padding-left: 10px">Thông tin khách
              hàng</p>
          </div>
          <div style="border: 1px solid darkgrey;border-radius: 5px;margin: 5px">
            <div class="flex" style="font-size: 17px;padding: 10px;font-weight: bolder">
              <div style="width: 40%">
                <p>Mã khách hàng: </p>
                <hr>
                <p>Họ và tên: </p>
                <hr>
                <p>Số CCCD: </p>
                <hr>
                <p>Số điện thoại: </p>
                <hr>
                <p>Tích điểm: </p>
                <hr>
              </div>
              <div style="width: 60%;color: dodgerblue">
                <p> {{roomModel.maKhachHang}}</p>
                <hr>
                <p> {{roomModel.hoTen}}</p>
                <hr>
                <p> {{roomModel.cccd}}</p>
                <hr>
                <p> {{roomModel.sdt}}</p>
                <hr>
                <p> {{roomModel.giamGia ?? '0' | currency : 'VND' : '':'1.0-0'}}</p>
                <hr>
              </div>
            </div>
          </div>
          <!--          Thông tin check in -->
          <div *ngIf="checkInDetailModel" style="border: 1px solid darkgrey;border-radius: 5px;margin: 5px">
            <p style="text-align: center;font-weight: bolder;background-color: deepskyblue">Thông tin người nhận
              phòng</p>
          </div>
          <div *ngIf="checkInDetailModel"
               style="border: 1px solid darkgrey;border-radius: 5px;margin: 5px;font-size: 17px;font-weight: bolder;padding: 10px">
            <p>Họ tên : {{checkInDetailModel.hoTen}}</p>
            <hr style="margin: 10px">
            <p>Ngày sinh: {{checkInDetailModel.ngaySinh | date : 'dd-MM-yyyy'}}</p>
            <hr style="margin: 10px">
            <p>Số điện thoại: {{checkInDetailModel.sdt}}</p>
            <hr style="margin: 10px">
            <p>Giới tính: {{checkInDetailModel.gioiTinh == 0 ? 'Nam' : 'Nữ'}}</p>
            <hr style="margin: 10px">
            <p>Số CCCD: {{checkInDetailModel.cccd}}</p>
            <hr style="margin: 10px">
            <p>Ngày nhận phòng: {{checkInDetailModel.ngayNhanPhong | date : 'dd-MM-yyyy'}}</p>
            <hr style="margin: 10px">
          </div>
          <div style="border: 1px solid darkgrey;border-radius: 5px;margin: 5px">
            <p style="text-align: center;font-weight: bolder;background-color: deepskyblue">Thông tin thanh toán</p>
          </div>
          <div
            style="border: 1px solid darkgrey;border-radius: 5px;margin: 5px;font-size: 17px;font-weight: bolder;padding: 10px">
            <p>Mã hóa đơn: {{roomModel.maHD}}</p>
            <hr style="margin: 10px">
            <div class="flex">
              <p style="width: 50%">Ngày tạo: {{roomModel.ngayTao | date : 'dd-MM-yyyy'}}</p>
              <p>Ngày thanh toán: {{roomModel.ngayThanhToan | date : 'dd-MM-yyyy'}}</p>
            </div>
            <hr style="margin: 10px">
            <p>Tổng tiền: {{roomModel.tongTien | currency:'VND': '':'1.0-0' }}</p>
            <hr style="margin: 10px">
            <p>Trạng thái thanh
              toán: {{roomModel.trangThaiThanhToan == 0 ? 'Đã thanh toán tiền phòng' : (roomModel.trangThaiThanhToan == 1 || roomModel.trangThaiThanhToan == 3) ? 'Thanh toán sau' : roomModel.trangThaiThanhToan == 2 ? 'Đang xác nhận' :
                roomModel.trangThaiThanhToan == 5 ? 'Hoàn tất thanh toán' : roomModel.trangThaiThanhToan == 6 ? 'Đang xác nhận cọc' : roomModel.trangThaiThanhToan == 7 ? 'Đã đặt cọc' : 'Đã hủy'}}</p>
            <hr style="margin: 10px">
            <p *ngIf="roomModel.tienCoc">Tiền cọc: {{roomModel.tienCoc | currency:'VND': '':'1.0-0' }}</p>
            <hr *ngIf="roomModel.tienCoc" style="margin: 10px">
            <p *ngIf="roomModel.thoiGianCoc">Thời gian cọc: {{roomModel.thoiGianCoc | date : 'dd-MM-yyyy hh:mm:ss'}}</p>
            <hr *ngIf="roomModel.thoiGianCoc" style="margin: 10px">
            <div class="flex">
              <p style="width: 50%">Tiền phạt: {{roomModel.tienPhat??0 | currency:'VND': '':'1.0-0' }}</p>
              <p>Tiền dịch vụ: {{roomModel.tienDichVu??0 | currency:'VND': '':'1.0-0' }}</p>
            </div>
            <hr style="margin: 10px">
            <div class="flex">
              <p style="width: 50%">Tiền phòng: {{roomModel.tienPhong | currency:'VND': '':'1.0-0' }}</p>
              <p>Giảm giá: {{roomModel.tienTichDiem | currency:'VND': '':'1.0-0' }}</p>
            </div>
            <hr style="margin: 10px">
            <p *ngIf="roomModel.tienHoanLai">Hoàn trả : {{roomModel.tienHoanLai | currency:'VND': '':'1.0-0' }}</p>
            <hr *ngIf="roomModel.tienHoanLai" style="margin: 10px">
            <div class="flex">

              <p>Tổng thanh toán: {{roomModel.tienThanhToan | currency:'VND': '':'1.0-0'}}</p>
              <div *ngIf="roomModel.trangThaiThanhToan==5" style="margin-left: 20px">
                <svg (click)="generatePDF(roomModel.idHoaDon)" style="color: blue" xmlns="http://www.w3.org/2000/svg"
                     width="25"
                     height="25" fill="currentColor"
                     class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                        d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"
                        fill="blue"></path>
                  <path fill-rule="evenodd"
                        d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
                        fill="blue"></path>
                </svg>
              </div>
            </div>
          </div>
          <div
            *ngIf="roomModel.trangThaiThanhToan == 3 || roomModel.trangThaiThanhToan == 7 || roomModel.trangThaiThanhToan == 0">
            <!--            <button style="width: 98%;height:35px;color:white;font-weight:bolder;margin: 5px;background-color: #4cb3fd;border-radius: 5px">Xác nhận thanh toán</button>-->
            <button (click)="updateBillStatus(roomModel.idHoaDon, roomModel.idDatPhong)" style="width: 98%;margin: 5px;"
                    class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium
      text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-yellow-500 group-hover:from-cyan-500
      group-hover:to-yellow-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800">
                <span style="width: 100%;"
                      class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
          Hoàn tất thanh toán
                </span>
            </button>
          </div>
          <div *ngIf="roomModel.trangThaiThanhToan == 5">
            <p style="font-size: 22px;font-weight: bolder;color: #5e2ced;text-align: center;padding: 8px">>>>>>>>> Đã
              thanh toán <<<<<<<<<</p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</nz-modal>
<nz-modal
  [(nzVisible)]="isVisibleCheckIn"
  nzTitle="THÔNG TIN NHẬN PHÒNG"
  (nzOnCancel)="handleCancelCheckIn()"
  (nzOnOk)="createCheckIn()"
  nzWidth="450px"
  nzOkText="Hoàn thành"
  nzCancelText="Trở về"
  nzFooter=" "
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="formCheckIn" (ngSubmit)="createCheckIn()">
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Số CCCD</nz-form-label>
        <nz-form-control nzHasFeedback nzErrorTip="Input is required">
          <input nz-input id="cccdCheckIn" formControlName="cccdCheckIn" required/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Họ tên</nz-form-label>
        <nz-form-control nzHasFeedback nzErrorTip="MaxLength is 6">
          <input nz-input formControlName="hoTenCheckIn" required/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Ngày sinh</nz-form-label>
        <nz-form-control nzHasFeedback nzErrorTip="MinLength is 6">
          <input type="date" nz-input formControlName="ngaySinhCheckIn" required/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Giới tính</nz-form-label>
        <nz-form-control nzHasFeedback nzErrorTip="Email is not valid">
          <select id="gioiTinhCheckIn" class="select-input"
                  style="width: 200px;height: 30px;font-size: 18px;border-width: 1px; border-style: solid; border-color: dodgerblue;border-radius: 3px;"
                  formControlName="gioiTinhCheckIn">
            <option class="option" value="0">Nam</option>
            <option class="option" value="1">Nữ</option>
          </select>

        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">SĐT</nz-form-label>
        <nz-form-control nzHasFeedback nzErrorTip="Pattern not match">
          <input nz-input formControlName="sdtCheckIn"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Ghi chú</nz-form-label>
        <nz-form-control nzHasFeedback>
          <input
            nz-input
            formControlName="ghiChuCheckIn"
            required
          />
        </nz-form-control>
      </nz-form-item>
      <br>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary" style="width: 100%" [disabled]="formCheckIn.invalid">Hoàn thành</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
<nz-modal
  [(nzVisible)]="isVisibleCheckOut"
  nzTitle="Xác nhận trả phòng"
  (nzOnCancel)="handleCancelCheckOut()"
  (nzOnOk)="createCheckOut()"
  nzWidth="450px"
  nzOkText="Đồng ý"
  nzCancelText="Từ chối"
>
  <ng-container *nzModalContent>
    <h3>Xác nhận trả phòng {{roomModel.tenPhong}}</h3>
  </ng-container>
</nz-modal>

<nz-modal
  [(nzVisible)]="isVisibleCheckoutSom"
  nzTitle="Khách hàng muốn check-out sớm?"
  (nzOnCancel)="cancelCheckOutSom()"
  (nzOnOk)="okCheckOutSom()"
  nzWidth="450px"
  nzOkText="Đồng ý"
  nzCancelText="Từ chối"
>
  <ng-container *nzModalContent>
    <h3>Ngày trả phòng dự kiến: {{roomModel.checkOut | date : 'dd-MM-yyyy'}}</h3>
    <br>
    <h3>Xác nhận trả phòng {{roomModel.tenPhong}} sớm?</h3>
    <br>
    <h3>Hoàn tiền check-out sớm: {{soNgayCheckOutSom * roomModel.giaPhong | currency : 'VND': '': '1.0-0'}}</h3>
  </ng-container>
</nz-modal>

<nz-modal
  [(nzVisible)]="isVisibleOrderForm"
  nzTitle="ĐIỀN THÔNG TIN ĐẶT PHÒNG"
  (nzOnCancel)="cancelOrderForm()"
  (nzOnOk)="saveOrderForm()"
  nzWidth="full"
>
  <ng-container *nzModalContent>
    <div [formGroup]="roomOrderForm" (ngSubmit)="saveOrderForm()">
      <h2 class="form-text-order">Thông tin khách hàng</h2>
      <hr/>
      <br>
      <div class="flex">
        <nz-card style="width: 18%;border: 1px solid lightskyblue;border-radius: 6px">

          <nz-form-item>
            <nz-form-label nzFor="cccd">Số CCCD khách hàng</nz-form-label>
            <nz-form-control nzErrorTip="Vui lòng nhập số cccd">
              <input nz-input type="text" id="cccd" formControlName="cccd" placeholder="Số CCCD" [maxLength]="15"
                     style="border-radius: 5px;border: 1px solid deepskyblue" (blur)="handleByCCCD()">
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label nzFor="hoTen">Tên khách hàng</nz-form-label>
            <nz-form-control nzErrorTip="Vui lòng nhập tên khách hàng">
              <input nz-input type="text" id="ten" formControlName="hoTen" placeholder="Họ tên" [ngModel]="hoTen"
                     style="border-radius: 5px;border: 1px solid deepskyblue">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="ngaySinh">Ngày sinh khách hàng</nz-form-label>
            <nz-form-control nzErrorTip="Vui lòng nhập ngày sinh">
              <input type="date" id="ngaySinh" formControlName="ngaySinh"
                     style="border-radius: 5px;border: 1px solid deepskyblue">
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label nzFor="sdt">SĐT Khách hàng</nz-form-label>
            <nz-form-control nzErrorTip="Vui lòng nhập SĐT">
              <input nz-input type="number" id="sdt" formControlName="sdt" placeholder="SĐT" [maxLength]="10"
                     [ngModel]="sdt"
                     style="border-radius: 5px;border: 1px solid deepskyblue">
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label nzFor="ghiChu">Ghi chú</nz-form-label>
            <br>
            <div>
              <nz-form-control nzErrorTip="Vui lòng nhập ghi chú">
                <textarea style="border-radius: 5px;border: 1px solid deepskyblue" rows="6" cols="38" id="ghiChu"
                          formControlName="ghiChu"></textarea>
              </nz-form-control>
            </div>
          </nz-form-item>
        </nz-card>
        <nz-card style="width: 80%;border: 1px solid lightskyblue;border-radius: 6px;margin-left: 10px">
          <div
            style="border: 1px solid darkgrey;border-radius: 5px;margin: 5px;font-size: 17px;font-weight: bolder;padding: 15px">
            <div>
              <p>Ngày nhận phòng: {{checkInSearch | date : 'dd-MM-yyyy'}}</p>

            </div>
            <div>
              <p>Ngày trả phòng: {{checkOutSearch | date : 'dd-MM-yyyy'}}</p>
            </div>
            <div>
              <p>Giá phòng: {{roomMapMd.giaTheoNgay | currency:'VND': '':'1.0-0' }}/ngày</p>
            </div>
            <div>
              <p>Tổng tiền:
                <span>{{(calculateTotalDays() * (roomMapMd.giaTheoNgay ?? 0)) | currency:'VND': '':'1.0-0' }}</span>
                <input id="tongGia" formControlName="tongGia" class="form-input-total"
                       [value]="(calculateTotalDays() * (roomMapMd.giaTheoNgay ?? 0))"
                       type="hidden"/>
              </p>
            </div>
            <div>
              <p>Tổng thanh toán:
                <span>{{(calculateTotalDays() * (roomMapMd.giaTheoNgay ?? 0)) + tongTien | currency:'VND': '':'1.0-0' }}</span>
              </p>
            </div>
          </div>
          <div style="margin-top: 10px;width: 100%">
            <button style="float: right;margin: 10px" (click)="showMoreRoom()" class="button-blue">Thêm phòng</button>
          </div>
          <div *ngIf="showListMoreRoom">
            <nz-table #dataListMore [nzData]="dataList">
              <thead>
              <tr>
                <th>Số phòng</th>
                <th>Loại phòng</th>
                <th>Giá phòng</th>
                <th>Tiện ích</th>
                <th>Ngày nhận phòng</th>
                <th>Ngày trả phòng</th>
                <th>Tổng tiền</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let data of dataListMore.data">
                <td>{{ data.ma }}</td>
                <td>{{ data.tenLoaiPhong }}</td>
                <td>{{ data.giaTheoNgay | currency:'VND': '':'1.0-0'  }}</td>
                <td>{{ data.tienIch }}</td>
                <td>{{checkInSearch | date : 'dd-MM-yyyy'}}</td>
                <td>{{checkOutSearch | date : 'dd-MM-yyyy'}}</td>
                <td>{{(calculateTotalDays() * (data.giaTheoNgay ?? 0)) | currency:'VND': '':'1.0-0' }}</td>
              </tr>
              </tbody>
            </nz-table>
          </div>
        </nz-card>

      </div>
    </div>
  </ng-container>
</nz-modal>

<nz-modal
  [(nzVisible)]="isVisibleMoreRoom"
  nzTitle="Chọn thêm phòng"
  (nzOnCancel)="cancelMoreRoom()"
  (nzOnOk)="okMoreRoom()"
  nzWidth="1000px"
  nzCentered
>
  <ng-container *nzModalContent>
    <nz-table
      #rowSelectionTable
      nzShowSizeChanger
      [nzData]="roomMap2"
    >
      <thead>
      <tr>
        <th
        ></th>
        <th>Số phòng</th>
        <th>Loại phòng</th>
        <th>Giá phòng</th>
        <th>Số người</th>
        <th>Tiện ích</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of rowSelectionTable.data">
        <td>
          <nz-checkbox-wrapper>
            <label nz-checkbox [nzValue]="data.id" (change)="addRoomToList(data.id, $event)"></label>
          </nz-checkbox-wrapper>
        </td>
        <td>{{ data.ma }}</td>
        <td>{{ data.tenLoaiPhong }}</td>
        <td>{{ data.giaTheoNgay | currency:'VND': '':'1.0-0'  }}</td>
        <td>{{ data.soNguoi }}</td>
        <td>{{ data.tienIch }}</td>
      </tr>
      </tbody>
    </nz-table>
  </ng-container>
</nz-modal>

<!--Order dịch vụ-->
<nz-modal
  [(nzVisible)]="isVisibleDichVu"
  nzTitle="Nhập số lượng"
  (nzOnCancel)="cancelDichVu()"
  (nzOnOk)="okDichVu()"
  nzWidth="300px"
  nzCentered
>
  <ng-container *nzModalContent>
    <div>
      <input type="number" id="soLuong"
             style="width:250px;height:30px;border-radius: 3px;border: 1px solid deepskyblue;margin: 5px">
    </div>
  </ng-container>
</nz-modal>

<nz-modal
  [(nzVisible)]="isVisibleCheckOutLater"
  nzTitle="CHECK-OUT MUỘN"
  (nzOnCancel)="cancelCheckOutLater()"
  (nzOnOk)="okCheckOutLater()"
  nzWidth="600px"
  nzCentered
>
  <ng-container *nzModalContent>
    <div style="font-weight: bolder;font-size: 17px;padding: 5px">
      <h3>(trả phòng muộn 1 tiếng phạt (15% giá phòng một ngày)/h)</h3>
    </div>
    <div style="font-weight: bolder;font-size: 15px;padding: 5px">
      <p>Trả phòng muộn {{thoiGianMuon}} giờ</p>
      <br>
      <p>Số tiền phạt: {{tienPhat | currency : 'VND': '':'1.0-0'}} VNĐ</p>
    </div>
  </ng-container>
</nz-modal>

<nz-modal
  [(nzVisible)]="isVisibleXacNhanDoi"
  nzTitle="THÔNG BÁO"
  (nzOnCancel)="cancelShowListChange()"
  (nzOnOk)="okShowListChange()"
  nzWidth="600px"
>
  <ng-container *nzModalContent>
    <div style="padding: 5px;font-size: 18px">
      <p>Xác nhận đổi phòng?</p>
    </div>
  </ng-container>
</nz-modal>

<nz-modal
  [(nzVisible)]="isVisibleChangeRoom"
  nzTitle="Danh sách phòng có thể đổi"
  (nzOnCancel)="cancelShowListChange()"
  (nzOnOk)="cancelCheckOutLater()"
  nzWidth="1000px"
  nzFooter=" "
>
  <ng-container *nzModalContent>
    <div nz-row>
      <div *ngFor="let data of listRoomChange" nz-col nzSpan="8">
        <div
          style="border: 1px solid deepskyblue;border-radius: 4px;height: 380px;margin: 5px;font-size: 16px;font-weight: bolder;padding: 5px ">
          <div style="margin: 5px">
            <img src="https://i.pinimg.com/564x/08/d7/2c/08d72c0a1507829c2f4dfbbd57824d33.jpg">
          </div>
          <p>Phòng {{data.ma}}</p>
          <p>Loại phòng: {{data.tenLoaiPhong}}</p>
          <p>Giá phòng:  {{data.giaTheoNgay | currency : 'VND' : '':'1.0-0'}}/ngày</p>
          <p>Tầng {{data.ma?.slice(0, 1)}}</p>
          <div>
            <button (click)="doiPhong(data.id)" style="width: 98%;margin: 5px;"
                    class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium
      text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-yellow-500 group-hover:from-cyan-500
      group-hover:to-yellow-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800">
                <span style="width: 100%;"
                      class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
          Đổi phòng
                </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</nz-modal>

<nz-modal
  [(nzVisible)]="isVisibleListCheckOut"
  nzTitle="DANH SÁCH PHÒNG ĐÃ ĐẾN NGÀY CHECK-OUT"
  (nzOnCancel)="cancelListCheckOutToDay()"
  (nzOnOk)="cancelListCheckOutToDay()"
  nzWidth="full"
  nzFooter=" "
>
  <ng-container *nzModalContent>
    <div *ngIf="listCheckOutToDay.length == 0">
      <h3 STYLE="text-align: center;font-size: 25px;margin-top: 10px">DANH SÁCH TRỐNG</h3>
    </div>
    <div *ngIf="listCheckOutToDay.length > 0">
      <nz-table #basicTable [nzData]="listCheckOutToDay">
        <thead>
        <tr>
          <th>STT</th>
          <th>Số phòng</th>
          <th>Loại phòng</th>
          <th>Giá phòng</th>
          <th>Người đặt</th>
          <th>Ngày đặt</th>
          <th>Người nhận phòng</th>
          <th>Số điện thoại</th>
          <th>Ngày trả phòng</th>
          <th>Trạng thái</th>
          <th>Tác vụ</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of basicTable.data;let i = index;">
          <td>{{ i + 1 }}</td>
          <td>{{ data.tenPhong }}</td>
          <td>{{ data.tenLoaiPhong }}</td>
          <td>{{ data.giaPhong | currency:'VND': '':'1.0-0'  }}</td>
          <td>{{ data.hoTen  }}</td>
          <td>{{ data.ngayDat | date : 'dd-MM-yyyy hh:mm' }}</td>
          <td>{{ data.nguoiCheckIn }}</td>
          <td>{{ data.sdtCheckIn}}</td>
          <td>{{ data.checkOut | date : 'dd-MM-yyyy' }}</td>
          <td>{{ data.trangThai == 1 ? 'Chờ nhận phòng' : data.trangThai == 2 ? 'Đã nhận phòng' : data.trangThai == 3 ? 'Đã trả phòng' : 'Đã hủy'}}</td>
          <td class="flex">
            <button (click)="viewRoom(data.idDatPhong, data.idHoaDon, data.idDatPhong)" style="margin-left: 5px;"
                    class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium
      text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500
      group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800">
                <span
                  class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
          Xem
                </span>
            </button>
            <button (click)="xacNhanDatTruoc(data.id)" style="margin-left: 5px;" class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium
      text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-yellow-500 group-hover:from-cyan-500
      group-hover:to-yellow-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800">
                <span
                  class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
          Đặt ngay
                </span>
            </button>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </ng-container>

</nz-modal>

<nz-modal
  [(nzVisible)]="isVisibleXacNhanDatTruoc"
  nzTitle="THÔNG BÁO"
  (nzOnCancel)="cancelDatTruoc()"
  (nzOnOk)="showOrderRoom2()"
>
  <ng-container *nzModalContent>
    <h3>Xác nhận đặt phòng trước cho khách mới?</h3>
  </ng-container>
</nz-modal>

<nz-modal
  [(nzVisible)]="isVisibleCheckOutMuon"
  nzTitle="THÔNG BÁO"
  (nzOnCancel)="cancelCheckOutMuon()"
  (nzOnOk)="okCheckOutMuon()"
>
  <ng-container *nzModalContent>
    <div style="font-weight: bolder;font-size: 17px;padding: 5px">
      <h3>(trả phòng muộn 1 tiếng phạt (15% giá phòng một ngày)/h)</h3>
      <h3>(trả phòng muộn từ tiếng thứ 4 phạt 100% giá phòng 1 ngày)</h3>
    </div>
    <div style="font-weight: bolder;font-size: 15px;padding: 5px">
      <label>Số giờ check-out muộn: </label>
      <input type="number" id="soGioCheckOut"/>
    </div>
  </ng-container>
</nz-modal>

<nz-modal
  [(nzVisible)]="isVisibleTichDiem"
  nzTitle="THÔNG BÁO"
  (nzOnCancel)="cancelTichDiem()"
  (nzOnOk)="okTichDiem(roomModel.idHoaDon, roomModel.idDatPhong)"
  nzFooter=" "
>
  <ng-container *nzModalContent>
    <div style="height: 160px">
      <div>
        <div style="font-weight: bolder;font-size: 20px;padding: 5px;color: #007DB6">
          <h3>Khách hàng đang có {{roomModel.giamGia | currency : 'VND': '': '1.0-0'}} điểm, có muốn sử dụng?(1000 điểm
            =
            1000VNĐ)</h3>
        </div>
        <div>
          <input style="width: 90%;height: 30px;border: 1px solid deepskyblue;margin: 5px;font-weight: bolder"
                 type="number" id="soDiem" placeholder="Nhập số điểm muốn đổi"/>
        </div>
      </div>
      <div class="flex" style="float:right;font-weight: bolder;font-size: 15px;padding: 5px;margin: 5px">
        <button (click)="okTichDiem(roomModel.idHoaDon, roomModel.idDatPhong)" style="margin-top: 10px;" class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium
      text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-yellow-500 group-hover:from-cyan-500
      group-hover:to-yellow-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800">
                <span
                  class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                  Sử dụng
                </span>
        </button>
        <button (click)="thanhToanKhongTichDiem(roomModel.idHoaDon, roomModel.idDatPhong)"
                style="margin-top: 10px;margin-left: 10px" class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium
      text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-yellow-500 group-hover:from-cyan-500
      group-hover:to-yellow-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800">
                <span
                  class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                   Từ chối và thanh toán
                </span>
        </button>
      </div>
    </div>
  </ng-container>
</nz-modal>

<nz-modal
  [(nzVisible)]="isVisibleHuyPhong"
  (nzOnCancel)="handleCancelHuyPhong()"
  (nzOnOk)="handleOkHuyPhong()"
  [nzOkLoading]="isOkLoading"
  [nzOkText]="'Đồng ý'"
  [nzCancelText]="'Trở về'"

>
  <ng-container *nzModalContent>
    <div>
      <p style="font-size: large">Bạn có chắc muốn hủy phòng này không?</p>
    </div>
  </ng-container>
</nz-modal>


<!--<nz-spin [nzSpinning]="isVisibleSpin" nzTip="Loading...">-->
<!--  <nz-alert-->
<!--    nzType="info"-->
<!--    nzMessage="Alert message title"-->
<!--    nzDescription="Further details about the context of this alert."-->
<!--  ></nz-alert>-->
<!--</nz-spin>-->






