<div *ngIf="viewModel; else editable">
  <div *ngIf="currentRoom.id">
    <h4>Phòng</h4>
    <div>
      <label><strong>Mã:</strong></label> {{ currentRoom.ma }}
    </div>
    <div>
      <label><strong>Giá phòng:</strong></label>
      {{ currentRoom.giaPhong }}
    </div>
    <div>
      <label><strong>Status:</strong></label>
      {{ currentRoom.trangThai == 1 ? "Hoạt động" : "Không hoạt động" }}
    </div>

    <a class="badge badge-warning"
       routerLink="/room/{{ currentRoom.id }}">
      Edit
    </a>
  </div>

  <div *ngIf="!currentRoom">
    <br />
    <p>Please click on a Tutorial...</p>
  </div>
</div>

<ng-template #editable>
    <div *ngIf="currentRoom.id">
      <nz-form-item>
        <nz-form-label nzFor="ma">Mã phòng: </nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập mã">
          <input nz-input type="text" id="ma" name="ma" [(ngModel)]="currentRoom.ma"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="giaPhong">Giá phòng: </nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập giá">
          <input nz-input type="number" id="giaPhong" name="giaPhong" [(ngModel)]="currentRoom.giaPhong"/>
        </nz-form-control>
      </nz-form-item>
      <br>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary" style="width: 100%" (click)="updateRoom()">Cập nhật</button>
        </nz-form-control>
      </nz-form-item>
      <p>{{message}}</p>
    </div>

    <div *ngIf="!currentRoom.id">
      <br />
      <p>Cannot access this Tutorial...</p>
    </div>
</ng-template>
