<div class="container mx-auto px-4 sm:px-6 lg:px-8 mt-8">
  <div>
    <h2 class="sr-only">Steps</h2>
    <div>
      <div class="overflow-hidden rounded-full bg-gray-200">
        <div class="h-2 w-1/2 rounded-full bg-blue-500"></div>
      </div>

      <ol class="mt-4 grid grid-cols-3 text-sm font-medium text-gray-500">
        <li class="flex items-center justify-start text-blue-600 sm:gap-1.5">
          <span class="hidden sm:inline"> Thông tin </span>

          <svg
            class="h-6 w-6 sm:h-5 sm:w-5"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2"
            />
          </svg>
        </li>

        <li class="flex items-center justify-center text-blue-600 sm:gap-1.5">
          <span class="hidden sm:inline"> Chi tiết thanh toán </span>

          <svg
            class="h-6 w-6 sm:h-5 sm:w-5"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z"
            />
          </svg>
        </li>

        <li class="flex items-center justify-end sm:gap-1.5">
          <span class="hidden sm:inline"> Xác nhận đặt phòng </span>

          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
               class="bi bi-check-circle mt-1.5"
               viewBox="0 0 24 24">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path
              d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
          </svg>
        </li>
      </ol>
    </div>
  </div>

  <section class="bg-white">
    <!--
  Heads up! 👋

  Plugins:
    - @tailwindcss/forms
-->

    <header class="bg-gray-50">
      <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
        <div class="sm:flex sm:items-center sm:justify-between">
          <div class="text-center sm:text-left">
            <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">Hóa đơn của bạn đang được thực hiện.</h1>

            <p class="mt-1.5 text-sm text-gray-500">Vui lòng thanh toán hóa đơn trong 3 phút để xác nhận! 🎉</p>
          </div>

          <div class="mt-4 flex flex-col gap-4 sm:mt-0 sm:flex-row sm:items-center">
            <button
              class="inline-flex items-center justify-center gap-1.5 rounded-lg border border-gray-200 bg-white px-5 py-3 text-gray-500 transition hover:text-gray-700 focus:outline-none focus:ring"
              type="button"
            >
              <span class="text-sm font-medium">
                <span
                  class="inline-flex items-center justify-center rounded-full bg-emerald-100 px-2.5 py-0.5 text-emerald-700"
                >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="-ms-1 me-1.5 h-4 w-4"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                  />
                </svg>

                  <p class="whitespace-nowrap text-sm">{{ formatTime(countdown) }}</p>
                </span>
              </span>
            </button>

            <button
              class="block rounded-lg bg-indigo-600 px-5 py-3 text-sm font-medium text-white transition hover:bg-indigo-700 focus:outline-none focus:ring"
              type="button"
            >
              Create Post
            </button>
          </div>
        </div>
      </div>
    </header>
    <cons-list-room-order></cons-list-room-order>
  </section>
</div>

