<nz-page-header
  class="site-page-header"
  nzBackIcon
  nzTitle="Danh sách tài sản"
  nzSubtitle="Total {{asset.length || 0}}"
>
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>Tài Sản </nz-breadcrumb-item>
    <nz-breadcrumb-item>Quản lý tài sản</nz-breadcrumb-item>
  </nz-breadcrumb>
</nz-page-header>

<div class="page-content">
  <nz-table #tableData [nzData]="asset">
    <thead>
    <tr>
<!--      <th nzLeft>STT</th>-->
      <th nzLeft>Id</th>
      <th>Mã </th>
      <th>Tên </th>
      <th>Ghi chú</th>
      <th>Trạng Thái</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of tableData.data; let i = index">
<!--      <th nzLeft>{{ i + 1 }}</th>-->
      <th nzLeft>{{ data.id }}</th>
      <td nzLeft>{{ data.ma }}</td>
      <td nzLeft>{{ data.ten }}</td>
      <td nzLeft>{{ data.ghiChu }}</td>
      <td nzLeft>
        <div class="flex items-center" *ngIf="data.trangThai == 1">
          <div class="h-2.5 w-2.5 rounded-full bg-green-500 mr-2"></div> Hoạt động
        </div>

        <div class="flex items-center" *ngIf="data.trangThai != 1">
          <div class="h-2.5 w-2.5 rounded-full bg-red-500 mr-2"></div> Ngừng hoạt động
        </div>
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>


