.text-hero{
  position: absolute;
  top: 50%;
  left: 35%;
  font-family: Lora, serif;
  color: whitesmoke;
  font-size: 70px;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
}

.form-booking {
  font-family: "Lora", serif;
  width: 60%;
  height: 15%;
  position: absolute;
  padding: 10px;
  left: 20%;
  top: 65%;
  border-radius: 20px;
}
