<div>
  <section>
    <div style="background-image: url('/assets/sasha-kaunas-G6eXUCi8JgA-unsplash.jpg'); height: 770px">
      <div class="text-hero">
        Khách sạn Mebunbo
      </div>
      <div class="form-booking">
        <div class="flex flex-col">
          <div style="width: 1200px;" class="bg-white p-6 rounded-xl shadow-lg">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
              <div class="flex flex-col">
                <label for="checkIn" class="font-medium text-sm text-stone-600">Ngày nhận</label>
                <input class="border rounded-md py-2 px-3" type="date" id="checkIn" min="<?= date('Y-m-d') ?>">
                <span *ngIf="message" style="font-size: 15px;color: red;font-weight: bold">{{message}}</span>
              </div>

              <div class="flex flex-col">
                <label for="checkOut" class="font-medium text-sm text-stone-600">Ngày trả</label>
                <input class="border rounded-md py-2 px-3" type="date" id="checkOut">
              </div>

              <div class="flex flex-col">
                <label for="soNguoi" class="font-medium text-sm text-stone-600">Số người</label>
                <span (click)="changeSoNguoi()" style="width: 200px;font-size: 17px" class="border rounded-md py-2 px-3"
                >{{ soNguoi }} người</span>
                <div *ngIf="modalData.isShowNguoi" style="width: 200px" class="border flex">
                  <div style="margin-top: 10px;margin-bottom: 10px">
                    <button
                      style="width:40px;height: 40px;font-size: 25px;margin-left: 15px;border: 2px solid #5e2ced;border-radius: 2px"
                      (click)="giamSoNguoi()">-
                    </button>
                    <input type="number" max="30"
                           style="font-size: 23px;width: 50px;height:40px;margin-left: 20px;text-align: center"
                           id="soNguoi"
                           [(ngModel)]="soNguoi" name="soNguoi" disabled>
                    <button
                      style="width:40px;height: 40px;font-size: 25px;margin-left: 20px;border: 2px solid #5e2ced;border-radius: 2px"
                      (click)="tangSoNguoi()">+
                    </button>
                  </div>
                </div>
              </div>
              <div class="flex flex-col">
                <label for="soPhong" class="font-medium text-sm text-stone-600">Số phòng</label>
                <span (click)="changeSoPhong()" style="width: 200px;font-size: 17px" class="border rounded-md py-2 px-3"
                >{{ soPhong }} phòng</span>
                <div *ngIf="modalData.isShowPhong" style="width: 200px" class="border flex">
                  <div style="margin-top: 10px;margin-bottom: 10px">
                    <button
                      style="width:40px;height: 40px;font-size: 25px;margin-left: 15px;border: 2px solid #5e2ced;border-radius: 2px"
                      (click)="giamSoPhong()">-
                    </button>
                    <input type="number" max="30"
                           style="font-size: 23px;width: 50px;height:40px;margin-left: 20px;text-align: center"
                           id="soPhong"
                           [(ngModel)]="soPhong" name="soPhong" disabled>
                    <button
                      style="width:40px;height: 40px;font-size: 25px;margin-left: 20px;border: 2px solid #5e2ced;border-radius: 2px"
                      (click)="tangSoPhong()">+
                    </button>
                  </div>
                </div>
              </div>


              <!--              <div class="flex flex-col">-->
              <!--                <label class="font-medium text-sm text-stone-600">Loại phòng</label>-->
              <!--                &lt;!&ndash;                <label for="soPhong" class="font-medium text-sm text-stone-600">Số phòng</label>&ndash;&gt;-->
              <!--                &lt;!&ndash;                <span (click)="changeSoPhong()" style="width: 200px;font-size: 17px" class="border rounded-md py-2 px-3"&ndash;&gt;-->
              <!--                &lt;!&ndash;                >{{ soPhong }} phòng</span>&ndash;&gt;-->
              <!--                <button id="loaiPhong" (click)="showLoaiPhong()"-->
              <!--                        style="width: 400px;height: 40px;font-size: 19px;border-width: 1px; border-style: solid;border-radius: 3px;text-align: left;padding-left: 5px">-->
              <!--                  Chọn loại phòng và số lượng-->
              <!--                </button>-->
              <!--                <div *ngIf="isVisibleLP" style="width: 400px" class="border">-->
              <!--                  <div *ngFor="let lp of roomType">-->
              <!--                    <div style="margin-top: 10px;margin-bottom: 10px" class="flex">-->
              <!--                      <div style="width: 55%">-->
              <!--                      <p style="font-size: 16px;padding: 5px">{{lp.tenLoaiPhong}}</p>-->
              <!--                      </div>-->
              <!--                      <div style="width: 45%">-->
              <!--                        <div style="float: right;margin-right: 5px">-->
              <!--                          <button-->
              <!--                            style="width:35px;height: 35px;font-size: 23px;margin-left: 15px;border: 2px solid #5e2ced;border-radius: 2px"-->
              <!--                            (click)="giamSoPhong(lp.id)">- -->
              <!--                          </button>-->
              <!--                          <input type="number" max="6" min="0"-->
              <!--                                 style="font-size: 23px;width: 50px;height:40px;margin-left: 20px;text-align: center"-->
              <!--                                 [id]="lp.id"-->
              <!--                                 [ngModel]="1"-->
              <!--                                 disabled>-->
              <!--                          <button-->
              <!--                            style="width:35px;height: 35px;font-size: 23px;margin-left: 15px;border: 2px solid #5e2ced;border-radius: 2px"-->
              <!--                            (click)="tangSoPhong(lp.id)">+-->
              <!--                          </button>-->
              <!--                        </div>-->
              <!--                      </div>-->
              <!--                    </div>-->
              <!--                  </div>-->
              <!--                </div>-->
              <!--              </div>-->

            </div>
            <div style="float: right">
              <br>
              <div>
                <button style="width: 100px;"
                        class="rounded-lg py-4 px-2 hover:bg-orange-500 bg-stone-700 font-bold text-white shadow-lg shadow-orange-200 transition ease-in-out duration-200 translate-10"
                        (click)="testSearch(soPhong, soNguoi, 'top')"
                >
                  Tìm kiếm
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div style="background-image: url('/assets/images/banner-image.png')">

  <section
    class="min-h-[600px] py-16 flex flex-col items-center justify-center bg-banner-image bg-center bg-cover bg-fixed bg-no-repeat px-3">
    <div class="container max-w-[1200px] mx-auto text-white text-center">
      <h2 class="font-gilda font-normal text-2xl sm:text-[38px] tracking-[.04em] mb-3">Thư giãn tại phòng ngủ với Mebunbo.</h2>
      <div class="flex items-center justify-center">
        <img src="../assets/decorated-pattern.svg" alt="">
      </div>
      <p
        class="mt-9 tracking-[.04em] text-lg sm:text-2xl font-barlow font-light max-w-[600px] mx-auto leading-7 sm:leading-9">
        Tất cả cho một kỳ nghỉ năng động và trải nghiệm sang trọng dành cho người yêu.</p>
      <a href="#"
         class="bg-lion font-barlow px-4 min-w-[158px] min-h-[48px] inline-flex items-center justify-center uppercase text-white transition duration-300 ease-in-out hover:bg-lion-dark mt-8 tracking-widest">KHÁM
        PHÁ NGAY</a>
    </div>
  </section>

  <section class="py-16 px-3 bg-neutral-50">
    <div class="container max-w-[1200px] mx-auto">
      <h2 class="font-gilda font-normal text-3xl sm:text-[46px] tracking-[.04em] text-coyote text-center mb-3">Các phòng
        đặt nhiều nhất</h2>
      <div class="flex items-center justify-center">
        <img src="../assets/images/decorated-pattern-2.svg" alt="">
      </div>

      <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-[4px] mt-1">
        <a *ngFor="let data of roomBooking" href="/room-detail/{{data.id}}"
           class="object-cover relative after:absolute after:content-[''] after:top-0 after:left-0 after:w-full after:h-full after:bg-gradient-to-b from-black/25 to-black/75 hover:before  before:absolute before:content-[''] before:top-3 before:left-3 before:right-3 before:bottom-3 before:border-white before:border-2 before:border-solid before:z-10 before:opacity-0 hover:before:opacity-100 before:transition before:duration-300 before:ease-in-out">
          <img src="../assets/images/room-1.png" class="w-full h-full object-cover" alt="">
          <div
            class="absolute bottom-0 left-2/4 -translate-x-2/4 text-white font-medium uppercase text-xl md:text-2xl font-barlow z-10 px-4 mb-14 text-center w-full tracking-widest">
            Phòng {{data.ma}}</div>
        </a>
      </div>
    </div>
  </section>

  <section class="py-16 px-3 bg-neutral-50">
    <div class="container max-w-[1200px] mx-auto">
      <h2 class="font-gilda font-normal text-3xl sm:text-[46px] tracking-[.04em] text-coyote text-center mb-3">Phòng &
        Dịch vụ</h2>
      <div class="flex items-center justify-center">
        <img src="../assets/images/decorated-pattern-2.svg" alt="">
      </div>
      <div class="grid gap-10 md:grid-cols-2 py-10">
        <p
          class="text-black opacity-60 font-light text-base sm:text-lg font-barlow first-letter:text-4xl first-letter:font-bold first-letter:tracking-[.03em]">
          Tọa lạc tại thành phố Hà Nội, cách Trung tâm Vincom Nguyễn Chí Thanh 2,6 km, Căn hộ D'capitale 119 Trần Duy
          Hưng cung cấp chỗ nghỉ với phòng tập thể dục. Chỗ nghỉ có quầy lễ tân 24 giờ, thang máy và dịch vụ thu đổi
          ngoại tệ cho khách. Với phòng tắm riêng, các phòng tại khu chung cư cũng cung cấp cho khách Wi-Fi miễn phí
          trong khi một số phòng tại đây có sân hiên.</p>

        <ul class="bg-lion py-5 sm:py-9 px-7">
          <li class="grid items-center grid-cols-[32px_auto] my-1">
            <img src="../assets/images/icons/hotel.svg" alt="">
            <span class="text-white font-barlow text-base font-light">The best prices for your relaxing vacation.</span>
          </li>
          <li class="grid items-center grid-cols-[32px_auto] my-1">
            <img src="../assets/images/icons/hotel.svg" alt="">
            <span
              class="text-white font-barlow text-base font-light">Ultimate place to spend time with you loved ones.</span>
          </li>
          <li class="grid items-center grid-cols-[32px_auto] my-1">
            <img src="../assets/images/icons/hotel.svg" alt="">
            <span class="text-white font-barlow text-base font-light">Cool place to have entertaining time. </span>
          </li>
        </ul>
      </div>

      <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-[4px]">
        <a href="#"
           class="object-cover relative after:absolute after:content-[''] after:top-0 after:left-0 after:w-full after:h-full after:bg-gradient-to-b from-black/25 to-black/75 hover:before  before:absolute before:content-[''] before:top-3 before:left-3 before:right-3 before:bottom-3 before:border-white before:border-2 before:border-solid before:z-10 before:opacity-0 hover:before:opacity-100 before:transition before:duration-300 before:ease-in-out">
          <img src="../assets/images/room-1.png" class="w-full h-full object-cover" alt="">
          <div
            class="absolute bottom-0 left-2/4 -translate-x-2/4 text-white font-medium uppercase text-xl md:text-2xl font-barlow z-10 px-4 mb-14 text-center w-full tracking-widest">
            Phòng Nghỉ
          </div>
        </a>

        <a href="#"
           class="object-cover relative after:absolute after:content-[''] after:top-0 after:left-0 after:w-full after:h-full after:bg-gradient-to-b from-black/25 to-black/75 hover:before  before:absolute before:content-[''] before:top-3 before:left-3 before:right-3 before:bottom-3 before:border-white before:border-2 before:border-solid before:z-10 before:opacity-0 hover:before:opacity-100 before:transition before:duration-300 before:ease-in-out">
          <img src="../assets/images/room-2.png" class="w-full h-full object-cover" alt="">
          <div
            class="absolute bottom-0 left-2/4 -translate-x-2/4 text-white font-medium uppercase text-xl md:text-2xl font-barlow z-10 px-4 mb-14 text-center w-full tracking-widest">
            HỘI NGHỊ/PHÒNG HỌP
          </div>
        </a>

        <a href="#"
           class="object-cover relative after:absolute after:content-[''] after:top-0 after:left-0 after:w-full after:h-full after:bg-gradient-to-b from-black/25 to-black/75 hover:before  before:absolute before:content-[''] before:top-3 before:left-3 before:right-3 before:bottom-3 before:border-white before:border-2 before:border-solid before:z-10 before:opacity-0 hover:before:opacity-100 before:transition before:duration-300 before:ease-in-out">
          <img src="../assets/images/room-3.png" class="w-full h-full object-cover" alt="">
          <div
            class="absolute bottom-0 left-2/4 -translate-x-2/4 text-white font-medium uppercase text-xl md:text-2xl font-barlow z-10 px-4 mb-14 text-center w-full tracking-widest">
            LỄ CƯỚI
          </div>
        </a>
      </div>
    </div>
  </section>

  <section class="py-16 px-3 bg-white">
    <div class="container max-w-[1200px] mx-auto">
      <h2 class="font-gilda font-normal text-3xl sm:text-[46px] tracking-[.04em] text-coyote text-center mb-3">Sự
        kiện</h2>
      <div class="flex items-center justify-center">
        <img src="../assets/images/decorated-pattern-2.svg" alt="">
      </div>

      <div class='grid gap-2 md:grid-cols-2 lg:grid-cols-3 mt-10'>
        <div class="min-h-[323px] relative">
          <img src="../assets/images/events-1.png" class="w-full h-full object-cover">
          <div class='text-white absolute bottom-2 left-2 right-2 bg-black/50 p-5'>
            <div
              class="w-[70px] h-[70px] bg-lion rounded-full flex items-center justify-center flex-col uppercase font-mont text-sm absolute top-0 right-3 -translate-y-[50%]">
              <span class="font-bold tracking-widest text-xl inline-block">03</span>
              <span class="tracking-widest inline-block -mt-[3px]">apr</span>
            </div>
            <h3 class="font-gilda text-xl tracking-[.04em] uppercase">decade nights</h3>
            <p class="font-normal tracking-[.04em] font-barlow text-lg">Lễ hội âm nhạc thứ bảy - <span
              class="font-light">07:00 PM</span></p>
          </div>
        </div>

        <div class="min-h-[323px] relative">
          <img src="../assets/images/events-2.png" class="w-full h-full object-cover">
          <div class='text-white absolute bottom-2 left-2 right-2 bg-black/50 p-5'>
            <div
              class="w-[70px] h-[70px] bg-lion rounded-full flex items-center justify-center flex-col uppercase font-mont text-sm absolute top-0 right-3 -translate-y-[50%]">
              <span class="font-bold tracking-widest text-xl inline-block">06</span>
              <span class="tracking-widest inline-block -mt-[3px]">may</span>
            </div>
            <h3 class="font-gilda text-xl tracking-[.04em] uppercase">wine tastings</h3>
            <p class="font-normal tracking-[.04em] font-barlow text-lg">Bữa tối rượu đặc biệt - <span
              class="font-light">09:00 PM</span></p>
          </div>
        </div>

        <div class="min-h-[323px] relative">
          <img src="../assets/images/events-3.png" class="w-full h-full object-cover">
          <div class='text-white absolute bottom-2 left-2 right-2 bg-black/50 p-5'>
            <div
              class="w-[70px] h-[70px] bg-lion rounded-full flex items-center justify-center flex-col uppercase font-mont text-sm absolute top-0 right-3 -translate-y-[50%]">
              <span class="font-bold tracking-widest text-xl inline-block">10</span>
              <span class="tracking-widest inline-block -mt-[3px]">jun</span>
            </div>
            <h3 class="font-gilda text-xl tracking-[.04em] uppercase">love is in the air</h3>
            <p class="font-normal tracking-[.04em] font-barlow text-lg">Đêm cặp đôi lãng mạn - <span class="font-light">06:00 PM</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-16 px-3 bg-light-gray bg-gray-100">
    <div class="container max-w-[1200px] mx-auto">
      <h2 class="font-gilda font-normal text-3xl text-[46px] tracking-[.04em] text-coyote text-center mb-3">Phòng trưng
        bày</h2>
      <div class="flex items-center justify-center">
        <img src="../assets/images/decorated-pattern-2.svg" alt="">
      </div>
      <div class="grid gap-3 sm:grid-cols-2 md:grid-cols-3 mt-10">
        <div
          class="group min-h-[260px] relative after:absolute after:content-[''] after:left-0 after:top-0 after:w-full after:h-full after:bg-gradient-to-t after:from-black/75 after:to-black/5 after:opacity-0 hover:after:opacity-100 after:transition after:duration-300 after:ease-in-out overflow-hidden">
          <img src="../assets/images/gallery-1.png" class="w-full h-full object-cover" alt="">
          <div
            class="bg-lion text-white py-2 px-4 flex items-center justify-between absolute bottom-3 left-0 z-10 -translate-x-full group-hover:translate-x-0 transition duration-300 ease-in-out w-4/5">
            <span class="font-barlow text-lg font-normal">Fancy Sleeping Room</span>
            <ul class="flex items-center">
              <li class="text-sm"><i class="fas fa-star"></i></li>
              <li class="text-sm ms-1"><i class="fas fa-star"></i></li>
              <li class="text-sm ms-1"><i class="fas fa-star"></i></li>
              <li class="text-sm ms-1"><i class="fas fa-star"></i></li>
            </ul>
          </div>
        </div>

        <div
          class="group min-h-[260px] relative after:absolute after:content-[''] after:left-0 after:top-0 after:w-full after:h-full after:bg-gradient-to-t after:from-black/75 after:to-black/5 after:opacity-0 hover:after:opacity-100 after:transition after:duration-300 after:ease-in-out overflow-hidden">
          <img src="../assets/images/gallery-2.png" class="w-full h-full object-cover" alt="">
          <div
            class="bg-lion text-white py-2 px-4 flex items-center justify-between absolute bottom-3 left-0 z-10 -translate-x-full group-hover:translate-x-0 transition duration-300 ease-in-out w-4/5">
            <span class="font-barlow text-lg font-normal">Fancy Sleeping Room</span>
            <ul class="flex items-center">
              <li class="text-sm"><i class="fas fa-star"></i></li>
              <li class="text-sm ms-1"><i class="fas fa-star"></i></li>
              <li class="text-sm ms-1"><i class="fas fa-star"></i></li>
              <li class="text-sm ms-1"><i class="fas fa-star"></i></li>
            </ul>
          </div>
        </div>

        <div
          class="group min-h-[260px] relative after:absolute after:content-[''] after:left-0 after:top-0 after:w-full after:h-full after:bg-gradient-to-t after:from-black/75 after:to-black/5 after:opacity-0 hover:after:opacity-100 after:transition after:duration-300 after:ease-in-out overflow-hidden">
          <img src="../assets/images/gallery-3.png" class="w-full h-full object-cover" alt="">
          <div
            class="bg-lion text-white py-2 px-4 flex items-center justify-between absolute bottom-3 left-0 z-10 -translate-x-full group-hover:translate-x-0 transition duration-300 ease-in-out w-4/5">
            <span class="font-barlow text-lg font-normal">Fancy Sleeping Room</span>
            <ul class="flex items-center">
              <li class="text-sm"><i class="fas fa-star"></i></li>
              <li class="text-sm ms-1"><i class="fas fa-star"></i></li>
              <li class="text-sm ms-1"><i class="fas fa-star"></i></li>
              <li class="text-sm ms-1"><i class="fas fa-star"></i></li>
            </ul>
          </div>
        </div>

        <div
          class="group min-h-[260px] relative after:absolute after:content-[''] after:left-0 after:top-0 after:w-full after:h-full after:bg-gradient-to-t after:from-black/75 after:to-black/5 after:opacity-0 hover:after:opacity-100 after:transition after:duration-300 after:ease-in-out overflow-hidden">
          <img src="../assets/images/gallery-4.png" class="w-full h-full object-cover" alt="">
          <div
            class="bg-lion text-white py-2 px-4 flex items-center justify-between absolute bottom-3 left-0 z-10 -translate-x-full group-hover:translate-x-0 transition duration-300 ease-in-out w-4/5">
            <span class="font-barlow text-lg font-normal">Fancy Sleeping Room</span>
            <ul class="flex items-center">
              <li class="text-sm"><i class="fas fa-star"></i></li>
              <li class="text-sm ms-1"><i class="fas fa-star"></i></li>
              <li class="text-sm ms-1"><i class="fas fa-star"></i></li>
              <li class="text-sm ms-1"><i class="fas fa-star"></i></li>
            </ul>
          </div>
        </div>

        <div
          class="group min-h-[260px] relative after:absolute after:content-[''] after:left-0 after:top-0 after:w-full after:h-full after:bg-gradient-to-t after:from-black/75 after:to-black/5 after:opacity-0 hover:after:opacity-100 after:transition after:duration-300 after:ease-in-out overflow-hidden">
          <img src="../assets/images/gallery-5.png" class="w-full h-full object-cover" alt="">
          <div
            class="bg-lion text-white py-2 px-4 flex items-center justify-between absolute bottom-3 left-0 z-10 -translate-x-full group-hover:translate-x-0 transition duration-300 ease-in-out w-4/5">
            <span class="font-barlow text-lg font-normal">Fancy Sleeping Room</span>
            <ul class="flex items-center">
              <li class="text-sm"><i class="fas fa-star"></i></li>
              <li class="text-sm ms-1"><i class="fas fa-star"></i></li>
              <li class="text-sm ms-1"><i class="fas fa-star"></i></li>
              <li class="text-sm ms-1"><i class="fas fa-star"></i></li>
            </ul>
          </div>
        </div>

        <div
          class="group min-h-[260px] relative after:absolute after:content-[''] after:left-0 after:top-0 after:w-full after:h-full after:bg-gradient-to-t after:from-black/75 after:to-black/5 after:opacity-0 hover:after:opacity-100 after:transition after:duration-300 after:ease-in-out overflow-hidden">
          <img src="../assets/images/gallery-6.png" class="w-full h-full object-cover" alt="">
          <div
            class="bg-lion text-white py-2 px-4 flex items-center justify-between absolute bottom-3 left-0 z-10 -translate-x-full group-hover:translate-x-0 transition duration-300 ease-in-out w-4/5">
            <span class="font-barlow text-lg font-normal">Fancy Sleeping Room</span>
            <ul class="flex items-center">
              <li class="text-sm"><i class="fas fa-star"></i></li>
              <li class="text-sm ms-1"><i class="fas fa-star"></i></li>
              <li class="text-sm ms-1"><i class="fas fa-star"></i></li>
              <li class="text-sm ms-1"><i class="fas fa-star"></i></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-16 px-3 bg-banner-image bg-center bg-cover bg-fixed bg-no-repeat">
    <div class="container max-w-[1200px] mx-auto">
      <h2 class="font-gilda font-normal text-3xl sm:text-[46px] tracking-[.04em] text-coyote text-center mb-3"
          style="color: #80633E">Dịch vụ khách sạn của chúng tôi</h2>
      <div class="flex items-center justify-center">
        <img src="../assets/images/decorated-pattern-2.svg" alt="">
      </div>

      <div class="grid gap-3 mt-10 sm:grid-cols-2 md:grid-cols-3">
        <div
          class="flex text-center flex-col justify-center items-center bg-black/30 p-10 hover:bg-black/50 transition duration-300 ease-in-out">
          <img src="../assets/images/icons/plane.svg" class="w-[54px]">
          <h4 class="mt-4 mb-2 text-lion font-gilda text-xl tracking-[.04em] font-normal" style="color: #80633E">Pick Up
            & Drop</h4>
          <p class="text-white text-base font-barlow font-light tracking-[.04em]">We’ll pick up from airport while you
            comfy on your ride, mus nellentesque habitant.</p>
        </div>

        <div
          class="flex text-center flex-col justify-center items-center bg-black/30 p-10 hover:bg-black/50 transition duration-300 ease-in-out">
          <img src="../assets/images/icons/vehicle.svg" class="w-[54px]">
          <h4 class="mt-4 mb-2 text-lion font-gilda text-xl tracking-[.04em] font-normal" style="color: #80633E">Parking
            Space</h4>
          <p class="text-white text-base font-barlow font-light tracking-[.04em]">We’ll pick up from airport while you
            comfy on your ride, mus nellentesque habitant.</p>
        </div>

        <div
          class="flex text-center flex-col justify-center items-center bg-black/30 p-10 hover:bg-black/50 transition duration-300 ease-in-out">
          <img src="../assets/images/icons/bed.svg" class="w-[54px]">
          <h4 class="mt-4 mb-2 text-lion font-gilda text-xl tracking-[.04em] font-normal" style="color: #80633E">Room
            Service</h4>
          <p class="text-white text-base font-barlow font-light tracking-[.04em]">We’ll pick up from airport while you
            comfy on your ride, mus nellentesque habitant.</p>
        </div>

        <div
          class="flex text-center flex-col justify-center items-center bg-black/30 p-10 hover:bg-black/50 transition duration-300 ease-in-out">
          <img src="../assets/images/icons/pool.svg" class="w-[54px]">
          <h4 class="mt-4 mb-2 text-lion font-gilda text-xl tracking-[.04em] font-normal" style="color: #80633E">
            Swimming Pool</h4>
          <p class="text-white text-base font-barlow font-light tracking-[.04em]">We’ll pick up from airport while you
            comfy on your ride, mus nellentesque habitant.</p>
        </div>

        <div
          class="flex text-center flex-col justify-center items-center bg-black/30 p-10 hover:bg-black/50 transition duration-300 ease-in-out">
          <img src="../assets/images/icons/wifi.svg" class="w-[54px]">
          <h4 class="mt-4 mb-2 text-lion font-gilda text-xl tracking-[.04em] font-normal" style="color: #80633E">Fibre
            Internet</h4>
          <p class="text-white text-base font-barlow font-light tracking-[.04em]">We’ll pick up from airport while you
            comfy on your ride, mus nellentesque habitant.</p>
        </div>

        <div
          class="flex text-center flex-col justify-center items-center bg-black/30 p-10 hover:bg-black/50 transition duration-300 ease-in-out">
          <img src="../assets/images/icons/food.svg" class="w-[54px]">
          <h4 class="mt-4 mb-2 text-lion font-gilda text-xl tracking-[.04em] font-normal" style="color: #80633E">
            Breakfast</h4>
          <p class="text-white text-base font-barlow font-light tracking-[.04em]">We’ll pick up from airport while you
            comfy on your ride, mus nellentesque habitant.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="py-16 px-3 bg-nero" style="background-color: #202020">
    <div class="container max-w-[1200px] mx-auto">
      <h2 class="font-gilda font-normal text-3xl sm:text-[46px] tracking-[.04em] text-center text-white mb-3">Tin tức &
        Sự kiện</h2>
      <div class="flex items-center justify-center">
        <img src="../assets/images/decorated-pattern.svg" alt="">
      </div>

      <div class="grid mt-10 sm:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-8 lg:gap-10">
        <a href="#" class="transition duration-300 ease-in-out hover:-translate-y-5">
          <div class="min-h-[400px]">
            <img src="../assets/images/blogs-1.png" class="w-full h-full object-cover" alt="">
          </div>
          <div
            class="bg-white text-coyote text-center text-lg sm:text-xl font-gilda font-medium tracking-widest uppercase py-6 px-4">
            CẢI TẠO NHÀ HÀNG LỊCH SỬ
          </div>
        </a>

        <a href="#" class="transition duration-300 ease-in-out hover:-translate-y-5">
          <div class="min-h-[400px]">
            <img src="../assets/images/blogs-2.png" class="w-full h-full object-cover" alt="">
          </div>
          <div
            class="bg-white text-coyote text-center text-lg sm:text-xl font-gilda font-medium tracking-widest uppercase py-6 px-4">
            CẢI TẠO NHÀ HÀNG LỊCH SỬ
          </div>
        </a>

        <a href="#" class="transition duration-300 ease-in-out hover:-translate-y-5">
          <div class="min-h-[400px]">
            <img src="../assets/images/blogs-3.png" class="w-full h-full object-cover" alt="">
          </div>
          <div
            class="bg-white text-coyote text-center text-lg sm:text-xl font-gilda font-medium tracking-widest uppercase py-6 px-4">
            CẢI TẠO NHÀ HÀNG LỊCH SỬ
          </div>
        </a>
      </div>
    </div>
  </section>
  <nz-modal
    [(nzVisible)]="isVisible"
    nzTitle="DANH SÁCH LOẠI PHÒNG"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()"
    nzWidth="800px"
  >
    <ng-container *nzModalContent>
      <div>
        <div class="flex">
          <div style="width: 200px;height: 100px;border: 2px solid #4b505e;border-radius: 3px;margin-left: 30px"
               *ngFor="let data of listLoaiPhong">
            <h3>{{data.tenLoaiPhong}}</h3>
            <h3>{{data.soNguoi}}</h3>
          </div>
        </div>
      </div>
    </ng-container>
  </nz-modal>
</div>

<script>
  const checkInInput = document.getElementById('checkIn');
  const today = new Date();
  const todayStr = today.toISOString().split('T')[0];
  checkInInput.min = todayStr;
</script>
