.button-danger{
  border-radius: 8px;
  border: 2px solid red;
  font-weight: bolder;
  color: red;
  width: 80px;
  height: 43px
}

.button-danger:hover {
  background-color: red;
  color: white;
}

.button-blue{
  border-radius: 8px;
  border: 1px solid deepskyblue;
  font-weight: bolder;
  color: dodgerblue;
  width: 60px;
  height: 35px
}

.button-blue:hover {
  background-color: deepskyblue;
  color: white;
}

.button-green{
  border-radius: 8px;
  border: 1px solid green;
  font-weight: bolder;
  color: darkgreen;
  width: 80px;
  height: 35px
}

.button-green:hover {
  background-color: green;
  color: white;
}

.custom-modal-height {
  height: 1000px; /* Adjust the height as needed (e.g., px, rem) */
}


.button-thanh-toan{
  border-radius: 8px;
  border: 2px solid deepskyblue;
  font-weight: bolder;
  color: dodgerblue;
  padding: 5px;
  width: 150px;
  height: 35px
}

.button-thanh-toan:hover {
  background-color: deepskyblue;
  color: white;
}
