<nz-page-header
  class="site-page-header"
  nzBackIcon
  nzTitle="Danh sách dịch vụ"
  nzSubtitle="Total {{roomservice.length || 0}}"
>
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>Dịch Vụ </nz-breadcrumb-item>
    <nz-breadcrumb-item>Quản lý dịch vụ</nz-breadcrumb-item>
  </nz-breadcrumb>
</nz-page-header>
<div class="page-content">
  <div>
    <div style="float: right">
      <button
        class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium
      text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500
      group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800"
        routerLink="/admin/room-service/room-service-create"
      >
      <span
        class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
          Thêm mới
      </span>
      </button>
    </div>
    <div style="float: left">
      <fieldset class="w-full space-y-1 dark:text-gray-100">
        <label class="hidden">Search</label>
        <div class="relative">
        <span class="absolute inset-y-0 left-0 flex items-center pl-2">
          <button type="button" title="search" class="p-1 focus:outline-none focus:ring" (click)="getRoomServiceListSearch()">
            <svg fill="currentColor" viewBox="0 0 512 512" class="w-4 h-4 dark:text-gray-100">
              <path
                d="M479.6,399.716l-81.084-81.084-62.368-25.767A175.014,175.014,0,0,0,368,192c0-97.047-78.953-176-176-176S16,94.953,16,192,94.953,368,192,368a175.034,175.034,0,0,0,101.619-32.377l25.7,62.2L400.4,478.911a56,56,0,1,0,79.2-79.195ZM48,192c0-79.4,64.6-144,144-144s144,64.6,144,144S271.4,336,192,336,48,271.4,48,192ZM456.971,456.284a24.028,24.028,0,0,1-33.942,0l-76.572-76.572-23.894-57.835L380.4,345.771l76.573,76.572A24.028,24.028,0,0,1,456.971,456.284Z"></path>
            </svg>
          </button>
        </span>
          <input type="search" name="Search" placeholder="Search..." id="searchInput"
                 class="w-32 py-2 pl-10 text-sm rounded-md sm:w-96 focus:outline-0 dark:bg-gray-800 dark:text-white
                 focus:dark:bg-gray-900 focus:dark:border-violet-400 bg-gray-300"
                 [ngModel]="searchInput"
                 (ngModelChange)="getRoomServiceListSearch()"
          >
        </div>
      </fieldset>
    </div>
  </div>
  <nz-table #tableData [nzData]="roomservice">
    <thead>
    <tr>
      <th scope="col" class="px-6 py-3">
        Id
      </th>
      <th scope="col" class="px-6 py-3">
        Mã
      </th>
      <th scope="col" class="px-6 py-3">
        Tên Dịch Vụ
      </th>
      <th scope="col" class="px-6 py-3">
        Hình ảnh
      </th>
      <th scope="col" class="px-6 py-3">
        Gía Dịch Vụ
      </th>
      <th scope="col" class="px-6 py-3">
        Đơn vị tính
      </th>
      <th scope="col" class="px-6 py-3">
        Số lượng
      </th>
      <th scope="col" class="px-12 py-3">
        Tác vụ
      </th>
      <!--      <th scope="col" class="px-6 py-3">-->
      <!--      </th>-->
    </tr>
    </thead>
    <tbody>
    <tr
        *ngFor="let data of tableData.data; let i = index">
      <td class="px-6 py-4">
        {{ data.id }}
      </td>
      <td class="px-6 py-4">
        {{ data.ma }}
      </td>
      <td class="px-6 py-4">
        {{ data.tenDichVu }}
      </td>
      <td class="px-6 py-4">
      <img style="width: 100px;height: 100px" src="{{data.image}}">
      </td>
      <td class="px-6 py-4">
        {{ data.giaDichVu }}
      </td>
      <td class="px-6 py-4">
        {{ data.ghiChu }}
      </td>
      <td class="px-6 py-4">
        <div *ngIf="data.ghiChu != 'Lần' && data.ghiChu != 'Cốc' && data.ghiChu != 'Đĩa'">{{ data.soLuong }}</div>
        <div *ngIf="data.ghiChu == 'Lần' || data.ghiChu == 'Cốc' || data.ghiChu == 'Đĩa'">Sẵn hàng</div>
      </td>
      <td class="px-6 py-4">
        <div class="btn-info" (click)="showModal(data.id)">
          <span class="font-medium text-blue-600 dark:text-blue-500 hover:underline" nz-icon nzType="edit" nzTheme="outline" style="font-size: 24px"></span>
        </div>
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Cập nhật dịch vụ"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzOkLoading]="isOkLoading"
>
  <ng-container *nzModalContent>
    <div *ngIf="currentDichVu" class="edit-form">
      <nz-form-item>
        <nz-form-label nzFor="ma" style="width: 100px">Mã dịch vụ</nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập mã">
          <input nz-input type="text" id="ma" name="ma" [(ngModel)]="currentDichVu.ma" disabled/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="tenDichVu" style="width: 100px">Tên dịch vụ</nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập tên">
          <input nz-input type="text" id="tenDichVu" name="tenDichVu" [(ngModel)]="currentDichVu.tenDichVu" required/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="giaDichVu" style="width: 100px">Giá dịch vụ</nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập giá">
          <input nz-input type="number" id="giaDichVu" name="giaDichVu" [(ngModel)]="currentDichVu.giaDichVu" required/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf="currentDichVu.ghiChu == 'Chiếc' || currentDichVu.ghiChu == 'Lon' || currentDichVu.ghiChu == 'Chai'">
        <nz-form-label nzFor="soLuong" style="width: 100px">Số lượng</nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập giá">
          <input nz-input type="number" id="soLuong" name="soLuong" [(ngModel)]="currentDichVu.soLuong" required/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label style="width: 100px" nzFor="image">Thay ảnh</nz-form-label>
        <span><img style="width: 150px;height: 150px" src="{{currentDichVu.image}}"></span>
        <nz-form-control>
          <input type="file" id="image" accept="image/*" style="margin-left: 5px"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </ng-container>
</nz-modal>


