<div *ngIf="room" class="edit-form">
  <nz-form-item>
    <nz-form-label nzFor="tang">Tầng: </nz-form-label>
    <nz-form-control nzErrorTip="Vui lòng nhập tầng">
      <input nz-input type="text" id="tang" name="tang" [(ngModel)]="room.tang"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="tienIch">Tiện ích: </nz-form-label>
    <nz-form-control nzErrorTip="Vui lòng nhập tiện ích">
      <input nz-input type="text" id="tienIch" name="tienIch" [(ngModel)]="room.tienIch"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="dichVu">Dịch vụ: </nz-form-label>
    <nz-form-control nzErrorTip="Vui lòng nhập dịch vụ">
      <input nz-input type="text" id="dichVu" name="dichVu" [(ngModel)]="room.dichVu"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="soLuongNguoi">Số lượng người: </nz-form-label>
    <nz-form-control nzErrorTip="Vui lòng nhập số lượng người">
      <input nz-input type="number" id="soLuongNguoi" name="soLuongNguoi" [(ngModel)]="room.soLuongNguoi"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="dienTich">Diện tích: </nz-form-label>
    <nz-form-control nzErrorTip="Vui lòng nhập diện tích">
      <input nz-input type="number" id="dienTich" name="dienTich" [(ngModel)]="room.dienTich"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="dienTich">Trạng thái: </nz-form-label>
    <nz-form-control nzErrorTip="Vui lòng nhập trạng thái">
      <input nz-input type="number" id="trangThai" name="trangThai" [(ngModel)]="room.trangThai"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-label nzFor="phong">Mã phòng: {{room.idPhong}}</nz-form-label>
  <nz-select name="idPhong" style="width: 200px" [(ngModel)]="room.idPhong">
    <nz-option *ngFor="let data of roomType" nzLabel="{{ data.ten_Loai_Phong }}" nzValue="{{ data.id }}"></nz-option>
  </nz-select>
  <br>
  <nz-form-item>
    <nz-form-control>
      <button nz-button nzType="primary" style="width: 100%" (click)="updateRoom()">Cập nhật</button>
    </nz-form-control>
  </nz-form-item>
  <p>{{message}}</p>
</div>
