<nz-page-header
  class="site-page-header"
  nzBackIcon
  nzTitle="Danh sách hóa đơn"
  nzSubtitle="Total {{bill.length || 0}}"
>
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>Hóa đơn</nz-breadcrumb-item>
    <nz-breadcrumb-item>Quản lý hóa đơn</nz-breadcrumb-item>
  </nz-breadcrumb>
</nz-page-header>

<div class="page-content">
  <div>
    <!--    <div style="float: right">-->
    <!--      <button-->
    <!--        class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium-->
    <!--      text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500-->
    <!--      group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800"-->
    <!--        routerLink="/admin/room/room-create"-->
    <!--      >-->
    <!--      <span-->
    <!--        class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">-->
    <!--          Thêm mới-->
    <!--      </span>-->
    <!--      </button>-->
    <!--    </div>-->
    <div style="float: left">
      <fieldset class="w-full space-y-1 dark:text-gray-100">
        <label class="hidden">Search</label>
        <div class="relative">
        <span class="absolute inset-y-0 left-0 flex items-center pl-2">
          <button type="button" title="search" class="p-1 focus:outline-none focus:ring" (click)="getBillByString()">
            <svg fill="currentColor" viewBox="0 0 512 512" class="w-4 h-4 dark:text-gray-100">
              <path
                d="M479.6,399.716l-81.084-81.084-62.368-25.767A175.014,175.014,0,0,0,368,192c0-97.047-78.953-176-176-176S16,94.953,16,192,94.953,368,192,368a175.034,175.034,0,0,0,101.619-32.377l25.7,62.2L400.4,478.911a56,56,0,1,0,79.2-79.195ZM48,192c0-79.4,64.6-144,144-144s144,64.6,144,144S271.4,336,192,336,48,271.4,48,192ZM456.971,456.284a24.028,24.028,0,0,1-33.942,0l-76.572-76.572-23.894-57.835L380.4,345.771l76.573,76.572A24.028,24.028,0,0,1,456.971,456.284Z"></path>
            </svg>
          </button>
        </span>
          <input type="search" name="Search" placeholder="Search..." id="searchInput"
                 class="w-32 py-2 pl-10 text-sm rounded-md sm:w-96 focus:outline-0 dark:bg-gray-800 dark:text-white
                 focus:dark:bg-gray-900 focus:dark:border-violet-400 bg-gray-300"
                 [ngModel]="searchInput"
                 (ngModelChange)="getBillByString()"
          >
        </div>
      </fieldset>
    </div>
  </div>
  <nz-table class="w-full text-sm text-left text-gray-500 dark:text-gray-400" #tableData [nzData]="bill">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-6 py-3">
        STT
      </th>
      <th scope="col" class="px-6 py-3">
        Ngày tạo
      </th>
      <th scope="col" class="px-6 py-3">
        Ngày thanh toán
      </th>
      <th scope="col" class="px-6 py-3">
        Tổng tiền
      </th>
      <th scope="col" class="px-6 py-3">
        Ghi chú
      </th>
      <th scope="col" class="px-6 py-3">
        Trạng thái
      </th>
      <th scope="col" class="px-6 py-3">
        Khách hàng
      </th>
      <th scope="col" class="px-12 py-3">
        Tác vụ
      </th>
      <!--      <th scope="col" class="px-6 py-3">-->
      <!--      </th>-->
    </tr>
    </thead>
    <tbody>
    <tr class="w-full bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
        *ngFor="let data of tableData.data; let i = index">
      <td class="px-6 py-4">
        {{i + 1}}
      </td>
      <td class="px-6 py-4">
        {{ data.ngayTao | date : 'dd-MM-yyyy'}}
      </td>
      <td class="px-6 py-4">
        {{ data.ngayThanhToan | date : 'dd-MM-yyyy' }}
      </td>
      <td class="px-6 py-4">
        {{ data.tongTien }}
      </td>
      <td class="px-6 py-4">
        {{ data.ghiChu }}
      </td>
      <td class="px-6 py-4">
        <div class="flex items-center" *ngIf="data.trangThai == 1">
          <div class="h-2.5 w-2.5 rounded-full bg-yellow-500 mr-2"></div>
          Chờ thanh toán
        </div>
        <div class="flex items-center" *ngIf="data.trangThai == 0">
          <div class="h-2.5 w-2.5 rounded-full bg-green-500 mr-2"></div>
          Đã thanh toán
        </div>
        <div class="flex items-center" *ngIf="data.trangThai == 2">
          <div class="h-2.5 w-2.5 rounded-full bg-blue-500 mr-2"></div>
          Đang xác nhận
        </div>
        <div class="flex items-center" *ngIf="data.trangThai == 3">
          <div class="h-2.5 w-2.5 rounded-full bg-orange-500 mr-2"></div>
          Thanh toán sau
        </div>
        <div class="flex items-center" *ngIf="data.trangThai == 4">
          <div class="h-2.5 w-2.5 rounded-full bg-red-500 mr-2"></div>
          Đã hủy
        </div>
      </td>
      <td class="px-6 py-4">
        {{ data.tenKhachHang }}
      </td>
      <td class="px-12 py-4" style="display: flex">
        <div *ngIf="data.trangThai != 4" class="btn-info">
          <button nz-button nz-dropdown [nzDropdownMenu]="menu" nzPlacement="bottomRight">
          <span class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                nz-icon nzType="edit" nzTheme="outline" style="font-size: 24px"></span>
          </button>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li *ngIf="data.trangThai === 1 || data.trangThai === 2 || data.trangThai === 3" (click)="updateStatus(data.id , data.idKhachHang)" nz-menu-item class="hover:bg-blue-400">
                Xác nhận thanh toán
              </li>
              <li nz-menu-item *ngIf="data.trangThai === 1" (click)="thanhToanSau(data.id)" class="hover:bg-yellow-500">
                Thanh toán sau
              </li>
              <li nz-menu-item *ngIf="data.trangThai != 4" (click)="huyHoaDon(data.id)" class="hover:bg-red-500">
                Hủy
              </li>
            </ul>
          </nz-dropdown-menu>
        </div>
        <div class="btn-info ml-3" (click)="showChiTiet(data.id)">
          <span nz-icon nzType="info-circle" nzTheme="outline" style="font-size: 24px"></span>
        </div>
        <div *ngIf="data.trangThai === 0" class="font-medium text-blue-600 dark:text-blue-500 hover:underline ml-2">
          <svg (click)="generatePDF(data.id)" style="color: blue" xmlns="http://www.w3.org/2000/svg" width="25"
               height="25" fill="currentColor"
               class="bi bi-box-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"
                  fill="blue"></path>
            <path fill-rule="evenodd"
                  d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
                  fill="blue"></path>
          </svg>
        </div>
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>
<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="DANH SÁCH ĐẶT PHÒNG"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleCancel()"
  nzWidth="1100px"
>
  <ng-container *nzModalContent>
    <div>
      <nz-table #tableData [nzData]="roomOrder" role="table" class="w-full min-w-[500px] overflow-x-scroll">
        <thead>
        <tr role="row">
          <th
            colspan="1"
            role="columnheader"
            title="Toggle SortBy"
            style="cursor: pointer"
          >
            <div
              class="flex items-center justify-between pb-2 pt-4 text-start uppercase tracking-wide text-gray-600 sm:text-xs lg:text-xs"
            >
              Stt
            </div>
          </th>
          <th
            colspan="1"
            role="columnheader"
            title="Toggle SortBy"
            style="cursor: pointer"
          >
            <div
              class="flex items-center justify-between pb-2 pt-4 text-start uppercase tracking-wide text-gray-600 sm:text-xs lg:text-xs"
            >
              Mã phòng
            </div>
          </th>
          <th
            colspan="1"
            role="columnheader"
            title="Toggle SortBy"
            style="cursor: pointer"
          >
            <div
              class="flex items-center justify-between pb-2 pt-4 text-start uppercase tracking-wide text-gray-600 sm:text-xs lg:text-xs"
            >
              Ngày nhận
            </div>
          </th>
          <th
            colspan="1"
            role="columnheader"
            title="Toggle SortBy"
            style="cursor: pointer"
          >
            <div
              class="flex items-center justify-between pb-2 pt-4 text-start uppercase tracking-wide text-gray-600 sm:text-xs lg:text-xs"
            >
              Ngày trả
            </div>
          </th>
          <th
            colspan="1"
            role="columnheader"
            title="Toggle SortBy"
            style="cursor: pointer"
          >
            <div
              class="flex items-center justify-between pb-2 pt-4 text-start uppercase tracking-wide text-gray-600 sm:text-xs lg:text-xs"
            >
              Thành tiền
            </div>
          </th>
          <th
            colspan="1"
            role="columnheader"
            title="Toggle SortBy"
            style="cursor: pointer"
          >
            <div
              class="flex items-center justify-between pb-2 pt-4 text-start uppercase tracking-wide text-gray-600 sm:text-xs lg:text-xs"
            >
              Trạng thái
            </div>
          </th>
          <th
            colspan="1"
            role="columnheader"
            title="Toggle SortBy"
            style="cursor: pointer"
          >
            <div
              class="flex items-center justify-between pb-2 pt-4 text-start uppercase tracking-wide text-gray-600 sm:text-xs lg:text-xs"
            >
              Hành động
            </div>
          </th>
        </tr>
        </thead>
        <tbody role="rowgroup" class="px-4">
        <tr role="row" *ngFor="let data of tableData.data; let i = index">
          <td class="py-3 text-sm" role="cell">
            <p class="text-md font-medium text-gray-600 dark:text-white">
              {{i + 1}}
            </p>
          </td>
          <td class="py-3 text-sm" role="cell">
            <p class="text-md font-medium text-gray-600 dark:text-white">
              {{data.tenPhong}}
            </p>
          </td>
          <td class="py-3 text-sm" role="cell">
            <p class="text-md font-medium text-gray-600 dark:text-white">
              {{data.checkIn | date : 'dd-MM-yyyy'}}
            </p>
          </td>
          <td class="py-3 text-sm" role="cell">
            <p class="text-md font-medium text-gray-600 dark:text-white">
              {{data.checkOut | date : 'dd-MM-yyyy'}}
            </p>
          </td>
          <td class="py-3 text-sm" role="cell">
            <p class="text-md font-medium text-gray-600 dark:text-white">
              {{data.tongGia}} VND
            </p>
          </td>
          <td class="py-3 text-sm" role="cell">
            <div class="flex items-center" *ngIf="data.trangThai == 1">
              <div class="h-2.5 w-2.5 rounded-full bg-green-500 mr-2"></div>
              Đã đặt
            </div>

            <div class="flex items-center" *ngIf="data.trangThai == 0">
              <div class="h-2.5 w-2.5 rounded-full bg-red-500 mr-2"></div>
              Đã hủy
            </div>
            <div class="flex items-center" *ngIf="data.trangThai == 2">
              <div class="h-2.5 w-2.5 rounded-full bg-blue-500 mr-2"></div>
              Đã check-in
            </div>
            <div class="flex items-center" *ngIf="data.trangThai == 3">
              <div class="h-2.5 w-2.5 rounded-full bg-yellow-500 mr-2"></div>
              Đã trả phòng
            </div>
          </td>
          <td class="px-12 py-4" style="display: flex">
            <div *ngIf="data.trangThai !== (0||3)" class="btn-info">
              <button nz-button nz-dropdown [nzDropdownMenu]="menu" nzPlacement="bottomRight">
          <span class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                nz-icon nzType="edit" nzTheme="outline" style="font-size: 24px"></span>
              </button>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                  <li *ngIf="data.trangThai === 1" (click)="updateStatusRoomOrder(data.id, 2)" nz-menu-item
                      class="hover:bg-blue-400">
                    Đã check-in
                  </li>
                  <li nz-menu-item *ngIf="data.trangThai === 2" (click)="updateStatusRoomOrder(data.id, 3)"
                      class="hover:bg-yellow-500">
                    Đã trả phòng
                  </li>
                </ul>
              </nz-dropdown-menu>
            </div>
<!--            <div style="margin-left: 3px">-->
<!--              <button nz-button style="margin-left: 3px" nz-tooltip nzTooltipTitle="Thông tin dịch vụ"-->
<!--                      (click)="showModalChiTietDichVu(data.id)">-->
<!--                <span class="font-medium text-blue-600 dark:text-blue-500 hover:underline"-->
<!--                      nz-icon nzType="infor-circle" nzTheme="outline" style="font-size: 24px"></span>-->
<!--              </button>-->
<!--            </div>-->
            <div class="btn-info ml-3" (click)="showModalChiTietDichVu(data.id)" nz-tooltip nzTooltipTitle="Thông tin dịch vụ">
              <span nz-icon nzType="info-circle" nzTheme="outline" style="font-size: 24px"></span>
            </div>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </ng-container>
</nz-modal>

<nz-modal
  [(nzVisible)]="isVisibleChiTietDichVu"
  nzTitle="DANH SÁCH DỊCH VỤ"
  (nzOnCancel)="handleCancelChiTietDichVu()"
  (nzOnOk)="showModalDichVu(idDP)"
  nzOkText="Thêm dịch vụ"
  nzWidth="900px"
>
  <ng-container *nzModalContent>
    <div>
      <nz-table #tableData [nzData]="detailsService" role="table" class="w-full min-w-[500px] overflow-x-scroll">
        <thead>
        <tr role="row">
          <th
            colspan="1"
            role="columnheader"
            title="Toggle SortBy"
            style="cursor: pointer"
          >
            <div
              class="flex items-center justify-between pb-2 pt-4 text-start uppercase tracking-wide text-gray-600 sm:text-xs lg:text-xs"
            >
              Stt
            </div>
          </th>
          <th
            colspan="1"
            role="columnheader"
            title="Toggle SortBy"
            style="cursor: pointer"
          >
            <div
              class="flex items-center justify-between pb-2 pt-4 text-start uppercase tracking-wide text-gray-600 sm:text-xs lg:text-xs"
            >
              Tên dịch vụ
            </div>
          </th>
          <th
            colspan="1"
            role="columnheader"
            title="Toggle SortBy"
            style="cursor: pointer"
          >
            <div
              class="flex items-center justify-between pb-2 pt-4 text-start uppercase tracking-wide text-gray-600 sm:text-xs lg:text-xs"
            >Giá dịch vụ
            </div>
          </th>
          <th
            colspan="1"
            role="columnheader"
            title="Toggle SortBy"
            style="cursor: pointer"
          >
            <div
              class="flex items-center justify-between pb-2 pt-4 text-start uppercase tracking-wide text-gray-600 sm:text-xs lg:text-xs"
            >Số lượng
            </div>
          </th>
          <th
            colspan="1"
            role="columnheader"
            title="Toggle SortBy"
            style="cursor: pointer"
          >
            <div
              class="flex items-center justify-between pb-2 pt-4 text-start uppercase tracking-wide text-gray-600 sm:text-xs lg:text-xs"
            >Ngày đặt
            </div>
          </th>
          <th
            colspan="1"
            role="columnheader"
            title="Toggle SortBy"
            style="cursor: pointer;width: 100px"
          >
            <div
              class="flex items-center justify-between pb-2 pt-4 text-start uppercase tracking-wide text-gray-600 sm:text-xs lg:text-xs"
            >
              Hành động
            </div>
          </th>
        </tr>
        </thead>
        <tbody role="rowgroup" class="px-4">
        <tr role="row" *ngFor="let data of tableData.data; let i = index">
          <td class="py-3 text-sm" role="cell">
            <p class="text-md font-medium text-gray-600 dark:text-white">
              {{i + 1}}
            </p>
          </td>
          <td class="py-3 text-sm" role="cell">
            <p class="text-md font-medium text-gray-600 dark:text-white">
              {{data.tenDichVu}}
            </p>
          </td>
          <td class="py-3 text-sm" role="cell">
            <p class="text-md font-medium text-gray-600 dark:text-white">
              {{data.giaDichVu}}
            </p>
          </td>
          <td class="py-3 text-sm" role="cell">
            <p class="text-md font-medium text-gray-600 dark:text-white">
              {{data.trangThai}}
            </p>
          </td>
          <td class="py-3 text-sm" role="cell">
            <p class="text-md font-medium text-gray-600 dark:text-white">
              {{ data.ghiChu | date : 'dd-MM-yyyy hh:mm:ss'}}
            </p>
          </td>
          <td class="py-3 text-sm" style="display: flex;">
            <div nz-tooltip nzTooltipTitle="Xóa">
              <svg style="color: red" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                   class="bi bi-trash" viewBox="0 0 16 16">
                <path
                  d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                  fill="red"></path>
                <path fill-rule="evenodd"
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                      fill="red"></path>
              </svg>
            </div>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </ng-container>
</nz-modal>

<nz-modal
  [(nzVisible)]="isVisibleDichVu"
  nzTitle="CHỌN DỊCH VỤ"
  (nzOnCancel)="handleCancelDichVu()"
  (nzOnOk)="addDichVu(idDP)"
  nzWidth="800px"
>
  <ng-container *nzModalContent>
    <div class="flex">
    <div style="width: 350px;font-size: 18px;border: 1px solid grey;border-radius: 5px">
      <nz-checkbox-wrapper>
        <div style="margin: 5px" *ngFor="let data of roomservice" ><label nz-checkbox nzValue="{{data.id}}" (change)="addListDichVu(data.id, $event, data.giaDichVu)"
        >{{data.tenDichVu}} - {{data.giaDichVu}}VNĐ</label>
          <input type="number" min="1" placeholder="Số lượng" id="{{data.id}}" [ngModel]="1" (ngModelChange)="thayDoiTongTien(data.id, data.giaDichVu)">
        </div>
      </nz-checkbox-wrapper>
    </div>
      <div style="width: 380px;font-size: 18px;border: 1px solid grey;border-radius: 5px;margin-left: 10px">
        <div style="margin-left: 20px">
        <label style="font-size: 25px;font-weight: bold;margin-top: 10px">Tổng thanh toán:</label><br>
        <p style="font-size: 25px;font-weight: bold">{{ tongTienDichVu | currency:'VND': '':'1.0-0' }}VND</p>
        </div>
      </div>
    </div>
  </ng-container>
</nz-modal>

