<div>
    <div class="submit-form">
        <div *ngIf="!submitted">
          <form  [formGroup]="submitForm" (ngSubmit)="savePartner(submitForm)">
<!--            <nz-form-item>-->
<!--                <nz-form-label style="width: 120px" nzFor="ma">Mã </nz-form-label>-->
<!--                <nz-form-control nzErrorTip="Vui lòng nhập mã">-->
<!--                    <input nz-input type="text" id="ma"  formControlName="ma" />-->
<!--                </nz-form-control>-->
<!--            </nz-form-item>-->
            <nz-form-item>
                <nz-form-label style="width: 120px" nzFor="tenCongTy">Tên công ty </nz-form-label>
                <nz-form-control nzErrorTip="Vui lòng nhập tên">
                    <input nz-input type="text" id="tenCongTy"  formControlName="tenCongTy"/>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label style="width: 120px" nzFor="ghiChu">Ghi chú: </nz-form-label>
                <nz-form-control nzErrorTip="Vui lòng nhập ">
                    <input nz-input type="text" id="ghiChu"  formControlName="ghiChu"/>
                </nz-form-control>
            </nz-form-item>

            <br>
            <nz-form-item>
                <nz-form-control>
                    <button nz-button nzType="primary" style="width: 100%" [disabled]="submitForm.invalid" >Thêm</button>
                </nz-form-control>
            </nz-form-item>
          </form>
        </div>


    </div>
</div>
