<nz-spin [nzSpinning]="isUploading">
  <form class="w-full max-w-lg" [formGroup]="settingForm">
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="startTitleRow">
          Start title row
        </label>
        <input
          class="appearance-none block w-full text-gray-700 border border-gray-200 rounded py-2 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="startTitleRow" type="number" formControlName="startTitleRow">
      </div>
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="startDataRow">
          Start data row
        </label>


        <input
          class="appearance-none block w-full text-gray-700 border border-gray-200 rounded py-2 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="startDataRow" type="number" formControlName="startDataRow">
      </div>
    </div>
  </form>
  <div class="flex items-center justify-center w-full">
    <label for="dropzone-file"
           class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
      <div class="flex flex-col items-center justify-center pt-5 pb-6">
        <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
             fill="none" viewBox="0 0 20 16">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
        </svg>
        <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or
          drag and drop</p>

        <ng-container *ngIf="tempData.length === 0 || isUploading">
          <p class="text-xs text-gray-500 dark:text-gray-400">.xlsx (MAX. 5mb)</p>
        </ng-container>

        <ng-container *ngIf="tempData.length > 0 && !isUploading">
          <p>
            <strong class="text-red-700">Selected file: </strong>
            <span class="text-xs text-amber-600">{{selectedFileName}}
              , total records: {{tempData.length | number}}</span>
          </p>

        </ng-container>
      </div>
      <input id="dropzone-file" type="file" class="hidden" (change)="onChooseFile($event)"/>
    </label>
  </div>
</nz-spin>
