<nz-page-header
  class="site-page-header"
  nzBackIcon
  nzTitle="Danh sách sự kiện"
  nzSubtitle="Total {{sale.length || 0}}"
>
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>Sự kiện</nz-breadcrumb-item>
    <nz-breadcrumb-item>Quản lý sự kiện</nz-breadcrumb-item>
  </nz-breadcrumb>
</nz-page-header>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <nz-table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400" #tableData [nzData]="sale">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-3 py-3">
        STT
      </th>
      <th scope="col" class="px-6 py-3">
        Mã
      </th>
      <th scope="col" class="px-6 py-3">
        Tên
      </th>
      <th scope="col" class="px-6 py-3">
        Giá trị
      </th>
      <th scope="col" class="px-6 py-3">
        Ngày bắt đầu
      </th>
      <th scope="col" class="px-6 py-3">
        Ngày kết thúc
      </th>
      <th scope="col" class="px-6 py-3">
        Trạng thái
      </th>
      <th scope="col" class="px-6 py-3">
        Action
      </th>
    </tr>
    </thead>
    <tbody>
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700" *ngFor="let data of tableData.data; let i = index">
      <td class="px-6 py-4">
        {{i + 1}}
      </td>
      <td class="px-6 py-4">
        {{ data.ma }}
      </td>
      <td class="px-6 py-4">
        {{ data.ten }}
      </td>
      <td class="px-6 py-4 text-red-500">
        {{ data.giaTri }}%
      </td>
      <td class="px-6 py-4">
        {{ data.ngayBatDau | date: 'dd/MM/yyyy HH:mm:ss'}}
      </td>
      <td class="px-6 py-4">
        {{ data.ngayKetThuc | date: 'dd/MM/yyyy HH:mm:ss'}}
      </td>
      <td class="px-6 py-4">
        <div class="flex items-center" *ngIf="data.trangThai === 1">
          <div class="h-2.5 w-2.5 rounded-full bg-green-500 me-2" ></div> Online
        </div>
        <div class="flex items-center" *ngIf="data.trangThai === 0">
          <div class="h-2.5 w-2.5 rounded-full bg-red-500 me-2"></div> Offline
        </div>
      </td>
      <td class="px-6 py-4">
          <nz-switch [(ngModel)]="data.id" (click)="updateStatus(data.id, data.trangThai === 1 ? 0 : 1)"></nz-switch>
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>
