<nz-page-header
  nzBackIcon
  nzTitle="Phân quyền"
>
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>Tài khoản</nz-breadcrumb-item>
    <nz-breadcrumb-item>Phân quyền</nz-breadcrumb-item>
  </nz-breadcrumb>
</nz-page-header>
<div>
  <label> Phân quyền 1
    <nz-switch [(ngModel)]="switchValue"></nz-switch>
  </label>
  <br/>
  <label> Phân quyền 2
    <nz-switch [(ngModel)]="switchValue"></nz-switch>
  </label>
  <br/>
  <label> Phân quyền 3
    <nz-switch [(ngModel)]="switchValue"></nz-switch>
  </label>
</div>

<div>
  <nz-tabset>
    <nz-tab nzTitle="Tab 1">Dao Quoc Khanh</nz-tab>
    <nz-tab nzTitle="Tab 2">Content of Tab Pane 2 </nz-tab>
    <nz-tab nzTitle="Tab 3">Content of Tab Pane 3</nz-tab>
  </nz-tabset>
</div>
