<div class="flex" style="margin: 10px">
  <div style="height: 800px;width: 30%;border: 2px solid darkgrey;border-radius: 4px;margin: 10px">
    <div style="margin: 5px">
      <div>
        <img src="https://i.pinimg.com/564x/08/d7/2c/08d72c0a1507829c2f4dfbbd57824d33.jpg">
      </div>
      <div style="font-size: 20px;font-family: 'Lora', serif;padding: 10px">
        <hr style="width: 95%;margin: 15px;">
        <div>
          <p>- {{soPhong}}x {{roomType.tenLoaiPhong}} - {{soNguoi}} người</p>
          <p>- Giá phòng: {{roomType.giaTheoNgay}}/ngày</p>
          <p>- Tiện ích: {{roomType.tienIch}}</p>
        </div>
        <hr style="width: 95%;margin: 15px;">
        <p>Ngày nhận phòng: {{checkIn}}</p>
        <p>Ngày trả phòng: {{checkOut}}</p>
        <p>Tổng thanh toán: {{roomType.giaTheoNgay}}</p>
      </div>
    </div>
  </div>
  <div style="height: 1000px;width: 65%;border: 2px solid darkgrey;border-radius: 2px;margin: 10px">

  </div>
</div>
