<!--<div class="w-96 bg-white rounded rounded-xl shadow-2xl p-5">-->
<!--  <h1 class="text-3xl text-xl">Register</h1>-->
<!--  <p class="text-base">Make the most of your professional life</p>-->

  <!-- begin::Alert error-->
  <div *ngIf="hasError" class="p-3 my-4 text-md text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
       role="alert">
    {{errorMsg}}
  </div>
  <!-- end::Alert error-->

  <form consFormFieldValidation class="my-10 space-y-6" [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">
    <div class="text-center">
      <h2 class="mb-1 text-3xl text-xl font-semibold text-gray-700 dark:text-white">
        Register <span class="text-primary-500">!</span>
      </h2>
      <p class="text-sm text-gray-400 dark:text-night-200">Make the most of your professional life</p>
    </div>
    <div class="space-y-0.5">
      <label class="text-base text-gray-600">Name</label>
      <input
        type="email"
        class="w-full h-12 border border-gray-800 rounded px-3 text-base"
        placeholder="Full name"
        formControlName="name"
      />
    </div>

    <div class="space-y-0.5">
      <label class="text-base text-gray-600">Số điện thoại</label>
      <input
        type="text"
        class="w-full h-12 border border-gray-800 rounded px-3 text-base"
        placeholder="Số điện thoại"
        formControlName="sdt"
      />
    </div>

    <div class="space-y-0.5">
      <label class="text-base text-gray-600">Email</label>
      <input
        type="email"
        class="w-full h-12 border border-gray-800 rounded px-3 text-base"
        placeholder="E-mail"
        formControlName="email"
      />
    </div>

    <div class="space-y-0.5">
      <label class="text-base text-gray-600">Password (6 or more characters)</label>
      <input
        type="password"
        class="w-full h-12 border border-gray-800 rounded px-3 text-base"
        placeholder="Password"
        formControlName="password"
      />
    </div>

    <div class="space-y-0.5">
      <label class="text-base text-gray-600">Password again (6 or more characters)</label>
      <input
        type="password"
        class="w-full h-12 border border-gray-800 rounded px-3 text-base"
        placeholder="Password again"
        formControlName="passwordAgain"
      />
    </div>

    <div class="text-sm text-center">
      <p class='text-sm'>
        By clicking Agree & Join, you agree to the Be User Agreement,
        <a class="text-blue-700 hover:underline text-sm" routerLink="">Privacy Policy</a>, and
        <a class="text-blue-700 hover:underline text-sm" routerLink="">Cookie Policy</a>.
      </p>
    </div>

    <button
      [disabled]="(isLoading$ | async)"
      type="submit"
      class="text-center w-full bg-blue-700 hover:bg-blue-800 rounded-md text-white py-3 font-medium"
    >
      <ng-container *ngIf="(isLoading$ | async)">
        <span nz-icon nzType="loading" nzTheme="outline"></span> Please wait...
      </ng-container>
      <ng-container *ngIf="!(isLoading$ | async)">
        Agree & Join
      </ng-container>
    </button>

    <div class="flex items-center justify-center space-x-2">
      <span class="h-px w-16 bg-gray-400"></span>
      <span class="text-gray-600 font-normal">OR</span>
      <span class="h-px w-16 bg-gray-400"></span>
    </div>

    <button
      routerLink="/auth/login"
      class="text-center w-full bg-white border border-blue-700 text-blue-700 rounded-md py-3 font-medium hover:bg-gray-100 hover:border-blue-700">
      Sign in with Google
    </button>

    <div class="text-center text-base">
      <p>Already on BDS? <a routerLink="/auth/login" class="text-blue-700 hover:underline">Sign in</a></p>
    </div>
  </form>
<!--</div>-->
