<div class="container mx-auto px-4 sm:px-6 lg:px-8 mt-8">
  <div>
    <h2 class="sr-only">Steps</h2>
    <div>
      <div class="overflow-hidden rounded-full bg-gray-200">
        <div class="h-2 w-1 rounded-full bg-blue-500"></div>
      </div>

      <ol class="mt-4 grid grid-cols-3 text-sm font-medium text-gray-500">
        <li class="flex items-center justify-start text-blue-600 sm:gap-1.5">
          <span class="hidden sm:inline"> Thông tin </span>

          <svg
            class="h-6 w-6 sm:h-5 sm:w-5"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2"
            />
          </svg>
        </li>

        <li class="flex items-center justify-center sm:gap-1.5">
          <span class="hidden sm:inline"> Chi tiết thanh toán</span>

          <svg
            class="h-6 w-6 sm:h-5 sm:w-5"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z"
            />
          </svg>
        </li>

        <li class="flex items-center justify-end sm:gap-1.5">
          <span class="hidden sm:inline"> Xác nhận đặt phòng </span>

          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
               class="bi bi-check-circle mt-1.5"
               viewBox="0 0 24 24">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path
              d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
          </svg>
        </li>
      </ol>
    </div>
  </div>

  <section class="bg-white">
    <div class="lg:grid lg:min-h-screen lg:grid-cols-12">
      <aside class="relative block h-16 lg:order-last lg:col-span-5 lg:h-full xl:col-span-6">
        <img
          alt="Pattern"
          src="https://images.unsplash.com/photo-1605106702734-205df224ecce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
          class="absolute inset-0 h-full w-full object-cover"
        />
      </aside>

      <main
        class="flex items-center justify-center px-8 py-8 sm:px-12 lg:col-span-7 lg:px-16 lg:py-12 xl:col-span-6"
      >
        <div class="max-w-xl lg:max-w-3xl">
          <h1 class="mt-6 text-2xl font-bold text-gray-900 sm:text-3xl md:text-4xl">
            Thông tin của bạn
          </h1>

          <span class="flex items-center">
            <span class="h-px flex-1 bg-black mt-1"></span>
          </span>

          <form action="#" class="mt-8 grid grid-cols-6 gap-6">
            <div class="col-span-6 sm:col-span-3">
              <label for="name" class="block text-sm font-medium text-gray-700">
                Họ và tên
              </label>

              <input
                type="text"
                id="name"
                name="name"
                class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm"
              />
            </div>

            <div class="col-span-6">
              <label for="email" class="block text-sm font-medium text-gray-700"> Email </label>

              <input
                type="email"
                id="email"
                name="email"
                class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm"
              />
            </div>

            <div class="col-span-6 sm:col-span-3">
              <label for="phone" class="block text-sm font-medium text-gray-700"> Số điện thoại </label>

              <input
                type="text"
                id="phone"
                name="phone"
                class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm"
              />
            </div>

            <div class="col-span-6">
              <label for="MarketingAccept" class="flex gap-4">
                <input
                  type="checkbox"
                  id="MarketingAccept"
                  name="marketing_accept"
                  class="h-5 w-5 rounded-md border-gray-200 bg-white shadow-sm"
                  (change)="onMarketingAcceptChange($event)"
                />

                <span class="text-sm text-gray-700">
                  Đặt phòng cho người khác
              </span>
              </label>
            </div>

            <div *ngIf="isMarketingAccepted === true" class="col-span-6">
              <div class="col-span-6">
                <label for="note" class="block text-sm font-medium text-gray-700"> Tên người nhận phòng </label>

                <input
                  type="text"
                  id="note"
                  name="note"
                  class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm"
                />
              </div>
            </div>

            <div class="col-span-6">
              <p class="text-sm text-gray-500">
                By creating an account, you agree to our
                <a href="#" class="text-gray-700 underline"> terms and conditions </a>
                and
                <a href="#" class="text-gray-700 underline">privacy policy</a>.
              </p>
            </div>

            <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
              <button
                class="inline-block shrink-0 rounded-md border border-blue-600 bg-blue-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-transparent hover:text-blue-600 focus:outline-none focus:ring active:text-blue-500"
                (click)="handleSave()"
              >
                Tiếp theo
              </button>
            </div>
          </form>
        </div>
      </main>
    </div>
  </section>
  <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8 mt-5 mb-5">
    <div class="h-32 rounded-lg bg-gray-200 lg:col-span-2"></div>
    <div class="h-32 rounded-lg bg-gray-200"></div>
  </div>
</div>

