<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <nz-form-item>
        <nz-form-label style="width: 140px" nzFor="ma">Mã Voucher</nz-form-label>
        <nz-form-control>
          <input nz-input type="text" id="ma" name="ma" [(ngModel)]="voucher.ma" disabled/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label style="width: 140px">Mô tả</nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập mô tả">
          <input nz-input type="text" id="mota" [(ngModel)]="voucher.moTa">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label style="width: 140px">Giảm giá</nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập Giảm giá">
          <input nz-input
                 type="number" id="giamGia" name="giamGia" [(ngModel)]="voucher.giamGia"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label style="width: 140px">Chọn Ngày bắt đầu</nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng chọn ngày bắt đầu">
          <nz-date-picker id="ngayBatDau" name="ngayBatDau" [(ngModel)]="voucher.ngayBatDau"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label style="width: 140px">Chọn ngày kết thúc</nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng chọn ngày kết thúc">
          <nz-date-picker id="ngayKetThuc" name="ngayKetThuc" [(ngModel)]="voucher.ngayKetThuc"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label style="width: 140px">Số lượng</nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập số lượng">
          <input nz-input
                 type="number" id="soLuong" name="soLuong" [(ngModel)]="voucher.soLuong"
          />

        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary" style="width: 100%"
                  (click)="saveVoucher()">Thêm
          </button>
        </nz-form-control>
      </nz-form-item>


    </div>
  </div>


</div>

