.btn-pagination {
  display: flex;
  items-align: center;
  justify-content: center;
  width: 8rem;
  height: 2.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  background-color: white;
  cursor: pointer;
}
