<div class="flex flex-col space-y-5 justify-center items-center">
</div>
<div class="flex" style="margin: 10px">
  <div style="height: 400px;width: 20%;border: 1px solid black;border-radius: 4px">
    <div>
      <h1 style="font-size: 25px;text-align: center">Thông tin đặt phòng</h1>
      <br>
      <hr style="width: 95%;margin-left: 10px">
      <br>
    </div>
    <div style="margin: 10px">
      <label style="margin-left: 10px;font-size: 15px">Ngày nhận phòng</label>
      <div>
        <input type="date" id="checkIn"
               style="width: 95%;height:30px;border-radius: 5px;border: 1px solid lightskyblue;margin-left: 10px;margin-top: 10px;padding: 5px"
               [(ngModel)]="checkIn" readonly>
      </div>
    </div>

    <div style="margin: 10px">
      <label style="margin-left: 10px;font-size: 15px">Ngày trả phòng</label>
      <div>
        <input type="date" id="checkOut"
               style="width: 95%;height:30px;border-radius: 5px;border: 1px solid lightskyblue;margin-left: 10px;margin-top: 10px;padding: 5px"
               [(ngModel)]="checkOut" readonly>
      </div>
    </div>
    <br>
    <hr style="width: 95%;margin-left: 10px">
    <div style="margin: 10px;font-size: 17px" class="flex">
      <div style="width: 200px">
        <label style="margin-left: 10px">Tổng số phòng đặt:</label>
      </div>
      <div style="margin-left: 50px">
        <p>{{soPhong}} phòng</p>
      </div>
    </div>
    <hr style="width: 95%;margin-left: 10px">
    <div style="margin: 10px;font-size: 17px" class="flex">
      <div style="width: 200px">
        <label style="margin-left: 10px;">Tổng số người:</label>
      </div>
      <div style="margin-left: 50px">
        <p>{{soNguoi}} người</p>
      </div>
    </div>
    <hr style="width: 95%;margin-left: 10px">
  </div>
  <div style="height: 1060px;width: 78%;border: 1px solid black;border-radius: 2px;margin-left: 10px">
    <div style="height: 75%;border-radius: 4px;border: 1px solid grey;margin: 10px;">
      <div nz-row style="margin: 5px">
        <div nz-col nzSpan="12">
          <img style="width: 98%;margin: 5px"
               src="https://i.pinimg.com/564x/08/d7/2c/08d72c0a1507829c2f4dfbbd57824d33.jpg">
        </div>
        <div nz-col nzSpan="12">
          <img style="width: 98%;margin: 5px"
               src="https://i.pinimg.com/564x/08/d7/2c/08d72c0a1507829c2f4dfbbd57824d33.jpg">
        </div>
      </div>
      <div nz-row style="margin: 5px">
        <div nz-col nzSpan="8">
          <img style="width: 98%;margin: 5px"
               src="https://i.pinimg.com/564x/08/d7/2c/08d72c0a1507829c2f4dfbbd57824d33.jpg">

        </div>
        <div nz-col nzSpan="8">
          <img style="width: 98%;margin: 5px"
               src="https://i.pinimg.com/564x/08/d7/2c/08d72c0a1507829c2f4dfbbd57824d33.jpg">

        </div>
        <div nz-col nzSpan="8">
          <img style="width: 98%;margin: 5px"
               src="https://i.pinimg.com/564x/08/d7/2c/08d72c0a1507829c2f4dfbbd57824d33.jpg">

        </div>
      </div>
    </div>
    <div style="height: 22%;border-radius: 4px;border: 1px solid grey;margin: 10px;" class="flex">
      <div style="margin: 5px;width:90%">
        <h1 style="font-size: 25px;font-family: 'Arvo', serif">{{roomTypeModel.tenLoaiPhong}}</h1>
        <h1 style="font-size: 20px;padding: 4px">Giá phòng: {{roomTypeModel.giaTheoNgay}}/đêm</h1>
        <h1 style="font-size: 20px;padding: 4px">Phòng phù hợp với: {{roomTypeModel.soNguoi}} người/phòng</h1>
        <h1 style="font-size: 20px;padding: 4px">(Có thể ở thêm tối đa 1 người)</h1>
        <h1 style="font-size: 20px;padding: 4px">Tiện nghi: {{roomTypeModel.tienIch}}</h1>
      </div>
      <div style="margin-top: 10px;margin-left: 20px">
        <button (click)="bookNow(roomTypeModel.id)" style="text-align: center;width: 100%;height: 30%"
                class="rounded-lg py-4 px-2 hover:bg-blue-600 bg-stone-700 font-bold text-white shadow-lg shadow-white-500">
          Book Now
        </button>
      </div>
    </div>
  </div>
</div>


