.btn-pagination {
  display: flex;
  items-align: center;
  justify-content: center;
  width: 8rem;
  height: 2.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  background-color: white;
  cursor: pointer;
}

.date-input{
  margin-top: 20px;
  margin-bottom: 5px;
  font-family: 'Lora', serif;
  margin-left: 10px
}

.select-input{
  width: 200px;
  height: 40px;
  border-bottom: 1px solid rgb(128,128,128);
  margin-top: 5px;
  margin-left: 5px;
}

.option{
  height: 80px;
  font-family: 'Lora', serif;
}

.text-lg{
  font-style: italic;
}
