.btn-red{
  border: 3px solid #ff1871;
  border-radius: 5px;
  background-color: red;
  color: white;
  padding: 5px;
}

.btn-change{
  border: 1px solid #676767;
  border-radius: 5px;
  background-color: #4cb3fd;
  color: white;
  padding: 5px;
}

.total{
  font-family: "Lora", serif;
  font-size: medium;
  margin-left: 350px;
}

